@using Reddah.Web.UI.Resources
@using System.Globalization   
@{
    var locale = CultureInfo.CurrentUICulture.Name;
}
<div id="AssistanceModule" class="StartModule">
    <div class="StartModuleLiner"></div>
    <h2>@Resources.Assistance_Title</h2> 

    <div id="ContactOptions" class="AssistanceContent">
        <div class="AssistanceOptionContent ">
            <a href="/@locale/r/feedbacks">
                <img src="/Content/Images/forum.png" alt="Feedbacks" />
                @Resources.Right_Feedbacks
            </a>
            <p>
                Get help from the knowledgeable Reddah Community and official Reddah Support!
            </p>
        </div>
        <div class="AssistanceSpacer">&nbsp;</div>


        <div class="AssistanceOptionContent">

            <a href="/@locale/r/discuss-on-ad">
                <img src="/Content/Images/ambassador.png" alt="Discuss on AD"/>
                @Resources.Right_DiscussAd
            </a>
            <p>
                A place for discussing the ads that reddah is currently running.
            </p>
        </div>
        <div class="AssistanceSpacer">&nbsp;</div>
        
        
        <div class="AssistanceOptionContent">

            <a href="/@locale/r/contact-us">
                <img src="/Content/Images/contact_us.png" alt="contact us"/>
                @Resources.Right_ContactUs
            </a>
            <p>
                Get in touch with an Reddah Support technician. We are ready and willing to help you!
            </p>
        </div>
    </div>
</div>

    <!--
        <div class="AssistanceOptionContent">
            <a id="ContactUsOpenPopup" href="javascript:OpenPopup()" data-link-position="<%=Resources.ContactUs_Assistance%>">
                <img src="/Content/Images/Assistance/contact_us.png" alt="contact_us.png"/>
                <%:Resources.ContactUs_Title%>
            </a>
            <p>
                <%:Resources.ContactUs_Assistance_Text%>
            </p>
        </div>
    </div>
    </div>

        <div id="ContactUsModal" class="AssistancePopup">
            <div class="AssistancePopupHeader">
                <h2><%:Resources.ContactUs_Title %></h2><div class="AssistancePopupHide AssistancePopupHideImage" onclick="javascript:ClosePopupWithWT()"></div>
            </div>

            <div>
                <p class="AssistancePopupText"><%=String.Format(HttpUtility.HtmlEncode(Resources.ContactUs_Assistance_Popup_Text), contentItem["NavigationListItem/Title"].Value)%></p>
            </div>

            <div class="AssistancePopupButtons">
                <button id="AssistancePopupThisIssue" onclick="javascript:ClosePopupAndRedirect(<%=String.Format(Constants.GetSupportContactUsUrl(), currentLocale).ToJsonForAttribute()%>, true)"><%:Resources.ContactUs_Assistance_Popup_ThisIssue%></button>
                <button id="AssistancePopupSeparateIssue" onclick="javascript:ClosePopupAndRedirect(<%=String.Format(Constants.GetSupportContactUsUrl(), currentLocale).ToJsonForAttribute()%>, false)"><%:Resources.ContactUs_Assistance_Popup_OtherIssue%></button>
            </div>
        </div>
        -->