body {
    font-family: Avenir, Roboto, 'Helvetica Neue', sans-serif;
    display: flex;
}
div {
    width: 100%;
    margin: 30px 30px;
}
[data-index] {
    position: relative;
    color: #333;
    transition: all .1s ease;
    will-change: transform, color, box-shadow;
    box-shadow: 0 0 0 transparent;
}

.ctp {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1rem;
    z-index: 3;
    background: #4ECDC4;
    color: white;
    text-align: center;
    transition: all .2s ease;
    transform: translateY(0%);
    will-change: transform;
}
.ctp--hidden {
    transform: translateY(-100%);
}
