<ion-item color="light" style="--padding-start:0;" lines="none">
    <ion-button clear icon-start color="light" (click)="close()" style="--box-shadow: none;">
        <ion-icon is-active="false" name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-label>{{reddah.instant('Common.AddPhoto')}}</ion-label>
    <ion-button color="success" slot="end" (click)="submit()" style="text-transform: capitalize;">{{ reddah.instant('Confirm.Submit') }}</ion-button>
</ion-item>
<ion-content>
    <ion-item lines="none">
        <ion-textarea autoresize [(ngModel)]="yourThoughts" rows="3" cols="20" 
        placeholder="{{reddah.instant('Input.Description')}}"></ion-textarea>
    </ion-item>
    <div class="imgContainer" dragula="bag" [(dragulaModel)]="photos">
        <div class="imgSqure" *ngFor="let image of photos;index as i">
            <img [id]="reddah.makeItId(image.webUrl+'am')" 
            (load)="reddah.adjustImage(image.webUrl, 'am')"
            [src]="reddah.level1Cache(image.webUrl)"
            (click)="viewer(i, photos)">
        </div>
        <div class="imgSqure addImg" (click)="addNewPhoto($event)" *ngIf="photos.length<9">
            <ion-icon name="add" size="large" color="medium"></ion-icon>
        </div>
    </div>
    <ion-item lines="none">
        <ion-label></ion-label>
    </ion-item>
    

    
</ion-content>
<ion-footer *ngIf="dragging" style="background-color: red;color: white;">
    <ion-row id="delete-photo" class="delete-area" align-items-center justify-content-center dragula="bag" [(dragulaModel)]="photos_trash">
        <ion-icon name="trash-outline" color="tertiary" size="medium"></ion-icon>
        <ion-text *ngIf="dragToDel" color="white">{{ reddah.instant('Pop.ReleaseToDel') }}</ion-text>
        <ion-text *ngIf="!dragToDel">{{ reddah.instant('Pop.DragToDel') }}</ion-text>
    </ion-row>
</ion-footer>
