<ion-item color="light" style="--padding-start:0;" class="no-padding-end" lines="none">
    <ion-button clear icon-start color="light" (click)="close()" style="--box-shadow: none;">
        <ion-icon is-active="false" name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-label>{{reddah.instant("Menu.Game")}}</ion-label>
    <ion-button clear slot="end" color="transparent" (click)="goSearch()" detail="false" style="--box-shadow: none;">
        <ion-icon slot="icon-only" color="dark" is-active="false" name="search-outline"></ion-icon>
    </ion-button>
    <ion-button clear slot="end" color="transparent" (click)="add($event)" style="--box-shadow: none;">
        <ion-icon slot="icon-only" color="dark" is-active="false" name="add-circle-outline"></ion-icon>
    </ion-button>
</ion-item>
<ion-content [fullscreen]="true">
    <ion-item class="borderTop" (click)="gameCube()">
        <ion-icon class="menuIcon" name="cube-outline" slot="start" color="tertiary" size="medium"></ion-icon>
        <ion-label>Cube</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
    </ion-item>
    <ion-item class="borderBottom" (click)="gameRemember()" detail="false">
        <ion-icon class="menuIcon" name="copy-outline" slot="start" color="dark" size="medium"></ion-icon>
        <ion-label>Remember</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
    </ion-item>

    <ion-item class="borderBottom" (click)="gameSudo2(task)" detail="false">
        <ion-icon class="menuIcon" name="copy-outline" slot="start" color="dark" size="medium"></ion-icon>
        <ion-label>Sudo2</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
    </ion-item>


    <ion-item class="borderBottom" (click)="gameSudo(task)" detail="false" *ngFor="let task of tasks;index as i">
        <ion-icon class="menuIcon" name="copy-outline" slot="start" color="dark" size="medium"></ion-icon>
        <ion-label>Sudo {{i}}</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
    </ion-item>
    <!--
    <ion-item class="borderBottom" (click)="gameConnect()" detail="false">
        <ion-icon class="menuIcon" name="game-controller-outline" slot="start" color="mini" size="medium"></ion-icon>
        <ion-label>游戏3 Connect</ion-label>
        <ion-icon name="chevron-forward-outline"slot="end" size="small"></ion-icon>
    </ion-item>
    <ion-item class="borderBottom" (click)="gameSnake()" detail="false">
        <ion-icon class="menuIcon" name="game-controller-outline" slot="start" color="mini" size="medium"></ion-icon>
        <ion-label>游戏4 Snake</ion-label>
        <ion-icon name="chevron-forward-outline"slot="end" size="small"></ion-icon>
    </ion-item>
    <ion-item class="borderBottom" (click)="gameTrain()" detail="false">
        <ion-icon class="menuIcon" name="game-controller-outline" slot="start" color="mini" size="medium"></ion-icon>
        <ion-label>游戏5 Train</ion-label>
        <ion-icon name="chevron-forward-outline"slot="end" size="small"></ion-icon>
    </ion-item>
    -->
</ion-content>
