
.publicPoster {
    width: 40px; 
    height: 40px; 
    margin: 5px 0; 
    background-color: #2781d7;
    border-radius: 3px;
}

.myPublicPoster {
    width: 40px; 
    height: 40px; 
    margin: 5px 0; 
    background-color: #107c10;
    border-radius: 3px;
}