<ion-item color="light" style="--padding-start:0;" lines="none">
    <ion-button clear icon-start color="light" (click)="close()" style="--box-shadow: none;">
        <ion-icon is-active="false" name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-label>{{ reddah.instant('Menu.Settings') }}</ion-label>
</ion-item>
<ion-content no-padding class="common-content" #searchResult>
    <ion-item lines="none" class="borderTop borderBottom" (click)="goAccount()">
        <ion-icon class="menuIcon" slot="start" name="person"color="dark" size="medium"></ion-icon>
        <ion-label color="dark">{{ reddah.instant('About.Account') }}</ion-label>
        <ion-icon name="chevron-forward-outline"slot="end" size="small"></ion-icon>
    </ion-item>

    <ion-item lines="none" class="common-splitter">
    </ion-item>
<!--
    <ion-item class="borderTop borderItem">
        <ion-label>新消息提醒</ion-label>
        <ion-icon name="chevron-forward-outline"slot="end" size="small"></ion-icon>
    </ion-item>
    <ion-item class="borderItem">
        <ion-label>勿扰模式</ion-label>
        <ion-icon name="chevron-forward-outline"slot="end" size="small"></ion-icon>
    </ion-item>
    <ion-item class="borderItem">
        <ion-label>聊天</ion-label>
        <ion-icon name="chevron-forward-outline"slot="end" size="small"></ion-icon>
    </ion-item>
-->
    <ion-item class="borderTop" (click)="goPrivacy()">
        <ion-icon class="menuIcon" slot="start" name="key"color="medium" size="medium"></ion-icon>
        <ion-label color="dark">{{ reddah.instant('About.Privacy') }}</ion-label>
        <ion-icon name="chevron-forward-outline"slot="end" size="small"></ion-icon>
    </ion-item>
    <ion-item lines="none"  class="borderBottom" (click)="goGeneral()">
        <ion-icon class="menuIcon" slot="start" name="earth"color="primary" size="medium"></ion-icon>
        <ion-label color="dark">{{ reddah.instant('About.General') }}</ion-label>
        <ion-icon name="chevron-forward-outline"slot="end" size="small"></ion-icon>
    </ion-item>

    <ion-item lines="none" class="common-splitter">
    </ion-item>
    <ion-item class="borderTop" (click)="goAbout()">
        <ion-icon class="menuIcon" slot="start" name="information-circle-outline"color="secondary" size="medium"></ion-icon>
        <ion-label>{{ reddah.instant('About.About') }}</ion-label>
        <ion-icon name="chevron-forward-outline"slot="end" size="small"></ion-icon>
    </ion-item>
    <ion-item lines="none" class="borderBottom" (click)="goFeedback()">
        <ion-icon class="menuIcon" slot="start" name="mail-outline"color="secondary" size="medium"></ion-icon>
        <ion-label>{{ reddah.instant('Menu.Header.Feedback') }}</ion-label>
        <ion-icon name="chevron-forward-outline"slot="end" size="small"></ion-icon>
    </ion-item>

    <ion-item lines="none" class="common-splitter">
    </ion-item>
    <ion-item lines="none" class="borderTop borderBottom" (click)="goNetwork()">
        <ion-icon class="menuIcon" slot="start" name="git-network"color="dark" size="medium"></ion-icon>
        <ion-label color="dark">{{ reddah.instant('About.Network') }}</ion-label>
        <ion-icon name="chevron-forward-outline"slot="end" size="small"></ion-icon>
    </ion-item>
    
    <ion-item lines="none" class="common-splitter">
    </ion-item>
    <ion-item lines="none" class="borderTop borderItem borderBottom" *ngIf="this.authService.authenticated()" (click)="logout()">
        <ion-icon class="menuIcon" slot="start" name="log-out"color="dark" size="medium"></ion-icon>
        <ion-label>{{ reddah.instant('Button.Logout') }}</ion-label>
        <ion-icon name="chevron-forward-outline"slot="end" size="small"></ion-icon>
    </ion-item>
</ion-content>