.debug-grid{
    border: 1px solid gray;
}

.action-bar-header{
    position: inherit;
    vertical-align: middle;
    background-color: lightgray;
    margin: 0 0px;
    border-right: 1px solid white;
}

.hide-action-bar{
    display: none;
}