<ion-item color="light" lines="none">
    <ion-buttons slot="start" style="margin-inline-end:15px;">
        <ion-button (click)="goBack()">
            <ion-icon size="large" is-active="false" name="chevron-back-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-label *ngIf="!isEdit" (click)="toggleEdit()" style="pointer-events: all;">{{name}}</ion-label>
    <ion-input color="primary" placeholder="{{name}}" 
    [(ngModel)]="name" (ionBlur)="onBlur()" *ngIf="isEdit"></ion-input>
    <!--
    <ion-buttons slot="end" style="margin-inline-end:15px;">
        <ion-button (click)="link()">
            <ion-icon size="large" is-active="false" name="link-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
    -->
</ion-item>

<ion-content [fullscreen]="true">

<div class="circle-box">

    <div style="display:flex;justify-content:center;margin-top:20px;">
        <ion-icon slot="end" size="large" color="dark" name="remove-circle-outline" (click)="subBeat()"></ion-icon>
            <ion-text style="margin: 0 10px; font-size: x-large;">{{beat}}</ion-text>
        <ion-icon slot="end" size="large" color="dark" name="add-circle-outline" (click)="addBeat()"></ion-icon>
    </div>

    <div class="strongweek">
      <div *ngFor="let b of box;index as index" class="sw-box">
          <div [class.sw-highlight]="i%box.length==index" [class.sw-none]="i%box.length!=index">
              <div class="sw-item"></div>
              <div class="sw-item"></div>
              <div class="sw-item"></div>
          </div>
      </div>
    </div>
    
    <div class="knob-container">
        <div class="knob-box">
              <input data-width="400" data-height="400" 
              data-cursor="true"
              data-skin="tron"
              data-displayPrevious="true"
              type="text" value="100" [(ngModel)]="speed" class="dial">
        </div>
        <div>
          <button (click)="btnSub()" class="speed-sub-button">
              <ion-icon name="remove-outline" style="width: 64px; height: 64px;vertical-align: middle;"></ion-icon>
          </button>
        </div>
        <div>
          <button (click)="btnAdd()" class="speed-add-button">
              <ion-icon name="add-outline" style="width: 64px; height: 64px;vertical-align: middle;"></ion-icon>
          </button>
        </div>
    </div>
</div>
  

</ion-content>