@using System.Globalization
@{
    var locale = CultureInfo.CurrentUICulture.Name;
    ViewBag.Title = "SiteMaps";
}
<h1>@ViewBag.Title</h1>
<br />
<h3>Users: @ViewBag.UserCount</h3>
@foreach (Reddah.Web.UI.UserProfile item in ViewBag.Top)
{
    <div><a href="https://com.reddah.app/user/@item.UserName">/user/@item.UserName</a></div>
}
<br />
<h3>SubReddahs: @ViewBag.SubReddahsCount</h3>
@foreach (Reddah.Web.UI.Group item in ViewBag.SubReddahs)
{
    <div><a href="/@locale/r/@item.Name">/r/@item.Name</a></div>
}
