<ion-content>
    <div class="titleWrap">
        <div class="title">
            <b style="color: rgb(255, 238, 0);margin-right:10px;font-size: 25px;">★</b><span style="color:white;font-size:23px;">{{mystars}}</span>
        </div>
    </div>
    
    <ion-slides>
        <ion-slide style="background: royalblue;color:white;">
            <div class="myslide" (click)="goLevel(1)">
                <img src="/assets/icon/boy1.png" width="150" class="level-image">
                <h3 class="level-title">{{ reddah.instant('Level1') }}</h3>
                <blockquote><q>{{ reddah.instant('Level1Maxim') }}</q>
                    <cite>- {{ reddah.instant('Level1MaximAuthor') }}</cite>
                </blockquote>
            </div>
        </ion-slide>

        <ion-slide style="background: orange;color:white;">
            <div class="myslide" (click)="goLevel(2)">
                <img src="/assets/icon/girl1.png" width="150" class="level-image">
                <h3 class="level-title">
                    <ion-icon name="lock-closed" color="light" *ngIf="maxLevelUnlocked<2"
                    style="transform: translateY(3px);"></ion-icon>
                    {{ reddah.instant('Level2') }}
                </h3>
                <blockquote><q>{{ reddah.instant('Level2Maxim') }}</q>
                    <cite>- {{ reddah.instant('Level2MaximAuthor') }}</cite>
                </blockquote>
            </div>
        </ion-slide>

        <ion-slide style="background: deepskyblue;color:white;">
            <div class="myslide" (click)="goLevel(3)">
                <img src="/assets/icon/boy2.png" width="150" class="level-image">
                <h3 class="level-title">
                    <ion-icon name="lock-closed" color="light" *ngIf="maxLevelUnlocked<3"
                    style="transform: translateY(3px);"></ion-icon>
                    {{ reddah.instant('Level3') }}
                </h3>
                <blockquote><q>{{ reddah.instant('Level3Maxim') }}</q>
                    <cite>- {{ reddah.instant('Level3MaximAuthor') }}</cite>
                </blockquote>
            </div>
        </ion-slide>

        <ion-slide style="background: coral;color:white;">
            <div class="myslide" (click)="goLevel(4)">
                <img src="/assets/icon/girl2.png" width="150" class="level-image">
                <h3 class="level-title">
                    <ion-icon name="lock-closed" color="light" *ngIf="maxLevelUnlocked<4"
                    style="transform: translateY(3px);"></ion-icon>
                    {{ reddah.instant('Level4') }}
                </h3>
                <blockquote><q>{{ reddah.instant('Level4Maxim') }}</q>
                    <cite>- {{ reddah.instant('Level4MaximAuthor') }}</cite>
                </blockquote>
            </div>
        </ion-slide>

    </ion-slides>

    <div class="levels-home">
        <ion-icon class="surface-button" name="arrow-undo-outline" color="light" (click)="goHome()"></ion-icon>
    </div>
</ion-content>
