
/*.ion-content {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: white;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
#masterWrap {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
#panelWrap {
  height: 100%;
}
section {
  height: 100%;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  position: relative;
  float: left;
}
.dot {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  position: relative;
  background-color: #fff;
  margin: 12px 8px;
  cursor: pointer;
  float: left;
}
.dots {
  position: absolute;
  z-index: 100;
  left: 50%;
  bottom: 16px;
}
#leftArrow {
  left: 12px;
}
#rightArrow {
  right: 12px;
}
.arrow {
  position: absolute;
  z-index: 100;
  top: 50%;
  cursor: pointer;
  opacity: 0.75;
  width: 40px;
  height: 40px;
  stroke-width: 8px;
  stroke: white;
  fill: transparent;
}
h1 {
  position: absolute;
  z-index: 100;
  font-size: 18px;
  text-align: center;
  width: 100%;
  text-transform: capitalize;
}
span {
  display: block;
  font-size: 0.75em;
  font-weight: 400;
}

.title {
  height: 30px;
  line-height: 30px;
  text-align: center;
}
h3,
p {
  padding: 0;
  margin: 0;
}
h3 {
  font-size: 1.5em;
}
p {
  max-width: 400px;
  font-weight: 400;
  text-align: center;
}
.twitterFollow {
  padding: 16px;
  margin-top: 16px;
  cursor: pointer;
  border-radius: 500px;
  text-decoration: none;
  border: solid 2px white;
  color: white;
}
.twitterFollow:hover {
  background: white;
  color: #000;
}
.hideMe {
  opacity: 0;
}
.iconWrap {
  width: 300px;
  margin-top: 30px;
}
.icon {
  text-align: center;
  width: 150px;
  float: left;
}
.icon svg {
  width: 50px;
  height: 50px;
  margin: 6px 0;
  overflow: visible;
}*/

.level-image{
  margin-bottom: 20px;
}

.level-title{
  margin-bottom: 15px;
}



cite {
    display: block;
    text-align: right;
    font-family: Verdana, Arial, sans-serif;
    margin-top: 1rem;
    font-size: .8rem;
    color: white;
    font-style: normal;
    opacity: 1;
}
q {
    quotes: "“" "”" "‘" "’";
}
q:after {
    content: close-quote;
}


/*ipad*/
.titleWrap {
  height: 30px;
  position: absolute;
  z-index: 20;
  bottom: 30px;
  left: 50%;
  overflow-y: hidden;
}

blockquote {
  font-size: 2rem;
}
blockquote q {
    font-family: Georgia, serif;
    font-style: italic;
    letter-spacing: .1rem;
}

q:before {
  content: open-quote;
  margin-right: .8rem;
}
q:before,
q:after {
    color: white;
    font-size: 3rem;
}

/*iphone*/
@media all and (orientation: portrait) and (max-width: 600px) {
  .titleWrap {
    height: 30px;
    position: absolute;
    z-index: 20;
    bottom: 20px;
    left: 50%;
    overflow-y: hidden;
  }

  blockquote {
    font-size: 1rem;
    font-weight: 400;
  }
  blockquote q {
      font-family: Georgia, serif;
      font-style: italic;
      letter-spacing: .1rem;
  }

  q:before {
    content: open-quote;
    margin-right: .1rem;
  }
  q:before,
  q:after {
      color: white;
      font-size: 1.3rem;
  }
}




ion-slides, ion-content {
  height: 100%;
}

.swiper-slide {
  display: block;
}

.swiper-slide h2 {
  margin-top: 2.8rem;
}

.swiper-slide img {
  max-height: 50%;
  max-width: 80%;
  margin: 60px 0 40px;
  pointer-events: none;
}

b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);
}

p b {
  color: var(--ion-text-color, #000000);
}

.myslide{
  transform: translateY(35%);
}