@model Reddah.Web.UI.ViewModels.ContactSupport.CategoriesViewModel
<table>
    @{
        int counter = 0;
        foreach (object category in Model.Categories)
        {
            counter++; 
            if (counter == 1)
            {     
                @:<tr valign="top">
            }
                    @:<td>
                        Html.RenderPartial("~/views/Shared/Controls/ContactSupport/Category.cshtml", category);
                    @:</td>
            if (counter == 3)
            {
                counter = 0;
                @:</tr>
            }
        }
        if (counter == 1 || counter == 2)
        {
            @:</tr>
        } 
    }
</table>