.action-count{
    padding-left:3px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5em;
}

.action-margin{
    margin-left: 40px;
}

.bar-container {
    color:#636468;
    display:flex;
    justify-content: space-between;
    margin-top:15px;
}