@using Reddah.Web.UI.Models
@using Reddah.Web.UI.Utility
@using System.Globalization
@{
    var locale = CultureInfo.CurrentUICulture.Name;
}
@if (!Request.IsAuthenticated)
{
    <div id="LoginRegisterPanel">
        <h1><div class="loginRegisterPanelHide" ng-click="hidePanel();"></div></h1>
        <div class="floatPanelModular">
            <table ng-controller="loginCtrl">
                <tr>
                    <td class="floatPanelModularLeftContent">
                        @Html.Partial("~/Views/Shared/Controls/LoginRegister/PartialRegister.cshtml", new RegisterModel())
                    </td>
                    <td class="floatPanelModularRightContent spread">
                        @Html.Partial("~/Views/Shared/Controls/LoginRegister/PartialLogin.cshtml", new LoginModel())
                    </td>
                </tr>
            </table>
            <p class="login-disclaimer">
                By signing up, you agree to our <a href="/@locale/r/help/useragreement/">Terms</a> 
                and that you have read our <a href="/@locale/r/help/privacypolicy">Privacy Policy</a>
                    and <a href="/@locale/r/help/contentpolicy">Content Policy</a>.
            </p>
        </div>
        <input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@Helpers.GetAntiForgeryToken()'"  />
    </div>
}    