@model Reddah.Web.UI.Models.LoginModel
<h2>LOG IN</h2>
<div>@Html.TextBoxFor(m => m.UserName, new { @class="loginText", @placeholder="username", data_ng_model = "loginModel.UserName"})</div>
<div>@Html.PasswordFor(m => m.Password, new { @class="loginText", @placeholder="password", data_ng_model = "loginModel.Password"})</div>
<div class="loginRememberMe">
        @Html.CheckBoxFor(m => m.RememberMe, new { @id="login_rem", data_ng_model = "loginModel.RememberMe" })
        <label class="checkbox" for="login_rem">Remember me?</label>
</div>
<div class="loginReset" style="display:none;"><label>Reset Password</label></div>
<table style="width:100%">
    <tr>
        <td>
            <img class="loginLoading" src="/content/images/loading_50x50.gif" ng-show="loadingLogin==true"/>
            <div class="loginError" ng-show="loginModel.Error!='' &&!loadingLogin" ng-bind="loginModel.Error"></div>
        </td>
    </tr>
    <tr>
        <td><input class="floatLoginButton" type="button" value="LOG IN" ng-click="login()"/></td>
    </tr>
</table>