<!--<ion-card *ngIf="!data" no-padding>
    <ion-card-content>
        <ion-spinner name="dots"></ion-spinner>
    </ion-card-content>
</ion-card>
<div *ngIf="data">-->
<div>
    <ion-item lines="none" color="light" id="TotalComments" style="--padding-start:0;">
        <ion-button clear icon-start color="transparent" (click)="goback()" style="--box-shadow: none;">
            <ion-icon color="dark" is-active="false" name="chevron-back-outline"></ion-icon>
        </ion-button>
        <ion-label>
            {{ reddah.instant('Article.Comment') }} {{article.Count>0?reddah.shortCount(article.Count):''}}
        </ion-label>
        <ion-select value="latest" (ionChange)="sortComment(commentSortType.value)" 
        cancelText="{{ reddah.instant('Confirm.Cancel') }}" okText="{{ reddah.instant('Confirm.Yes') }}" #commentSortType>
            <ion-select-option value="latest">{{ reddah.instant('Confirm.ByLatest') }}</ion-select-option>
            <ion-select-option value="oldest">{{ reddah.instant('Confirm.ByEarly') }}</ion-select-option>
            <ion-select-option value="mostlike">{{ reddah.instant('Confirm.ByLike') }}</ion-select-option>
        </ion-select>
    </ion-item>
    <div *ngFor="let comment of localComments">
        <li *ngIf="data.Seed===comment.ParentId&&depth <= 1">
            <ion-item lines="none" class="common-content-padding">
                <ion-avatar slot="start" class="avatar-top" (click)="goUser(comment.UserName)">
                    <img src="{{reddah.appData('userphoto_'+comment.UserName)}}" class="portrait">
                </ion-avatar>
                <ion-label text-wrap>
                    <div style="display: flex;justify-content:space-between;">
                        <span class="user-name" (click)="goUser(comment.UserName)">{{reddah.getDisplayName(comment.UserName)}}</span>
                        
                        <ion-note *ngIf="canDelete(comment)" color="danger" slot="end" (click)="delete(comment)">
                            [{{reddah.instant('Comment.Delete') }}]
                        </ion-note>

                        <div *ngIf="normal" style="display: flex;align-items: center;">
                            <ion-icon (click)="addNewComment(comment.ArticleId, comment.Id, comment.UserName)" color="warning" 
                                name="chatbox-ellipses-outline"></ion-icon>
                            <ion-text color="dark" (click)="addNewComment(comment.ArticleId, comment.Id, comment.UserName)" class="action-count" 
                                *ngIf="comment.Count>0">
                                {{reddah.shortCount(comment.Count)}}
                            </ion-text>

                            <ion-icon (click)="likeComment(comment)" name="heart-outline" *ngIf="!comment.like" 
                                color="warning" class="action-margin"></ion-icon>
                            <ion-icon (click)="likeComment(comment)" name="heart-circle-outline" *ngIf="comment.like" 
                                color="danger" class="action-margin"></ion-icon>
                            <ion-text color="dark" (click)="likeComment(comment)" class="action-count" *ngIf="comment.Up>0">
                                {{reddah.shortCount(comment.Up)}}
                            </ion-text>

                            <ion-icon (click)="translate(comment)" class="action-margin" color="warning" 
                                name="language-outline"></ion-icon>
                        </div>
                    </div>
                    
                    <span>{{reddah.utcToLocal(comment.CreatedOn,"YY-MM-DD HH:mm")}}</span>
                    <div (click)="addNewComment(comment.ArticleId, comment.Id, comment.UserName)" 
                    [innerHTML]="reddah.htmlDecode(comment.Content) | safe: 'html'" *ngIf="comment.Content.length<=100"></div>
                    <div (click)="addNewComment(comment.ArticleId, comment.Id, comment.UserName)" 
                    [innerHTML]="reddah.htmlDecode(comment.Content) | safe: 'html'"
                    [ngClass]="{'show-three-lines':!reddah.showComments.has(comment.Id)}" *ngIf="comment.Content.length>100"></div>
                    <ion-chip color="primary" style="border-radius: 0;margin:0;padding:0 5px;margin-top:10px;" 
                    (click)="reddah.commentShowAll(comment.Id)"
                        *ngIf="!reddah.showComments.has(comment.Id)&&comment.Content.length>100">
                        <ion-label style="font-size: smaller;">{{reddah.instant('Confirm.ShowAll')}} {{reddah.leftPercentage(comment.Content)}}</ion-label>
                    </ion-chip>
                    <hr style="border-top: 1px dashed var(--ion-color-medium);margin:5px 0;background:transparent;" *ngIf="comment.Translate==true">
                    <div (click)="addNewComment(comment.ArticleId, comment.Id, comment.UserName)" 
                    [innerHTML]="reddah.htmlDecode(comment.TranslateContent) | safe: 'html'" *ngIf="comment.Translate==true"></div>
                    <br *ngIf="!reddah.showComments.has(comment.Id)&&comment.Content.length>100">
                    <span style="font-weight:bold;color:var(--ion-color-secondary);" (click)="viewReply(localComments, comment)" *ngIf="comment.Count&&comment.Count>0">{{ reddah.instant('Comment.MoreComment') }} {{comment.Count}}>></span>
                </ion-label>
            </ion-item>
        </li>
    </div>
</div>
