div {
    color: #333435;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
svg {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.where {
    font-size: 20px;
    font-weight: 600;
    height: 30px;
    margin-top: 20px;
    text-align: center;
}
.place {
    position: absolute !important;
    width: 100%;
}
.place span {
    opacity: 0;
    transition: opacity 200ms;
}
.what {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
}

.slogan {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.name {
    position: absolute !important;
    width: 100%;
    opacity: 0;
    transition: opacity 200ms;
}