<ion-item color="light" style="--padding-start:0;" lines="none">
    <ion-button clear icon-start color="light" (click)="close()" style="--box-shadow: none;">
        <ion-icon is-active="false" name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-label>{{ reddah.instant('Common.NewFriend') }}</ion-label>
    <ion-button clear slot="end" color="light" (click)="addFriend()" style="--box-shadow: none;">
        <ion-icon is-active="false" name="add-outline"></ion-icon>
    </ion-button>
</ion-item>
<ion-content>
    <ion-list>
        <ion-item (click)="searchUser()">
            <ion-avatar slot="start" style="margin:5px;">
                <ion-icon name="search-outline" size="small" color="tertiary" class="portrait"></ion-icon>
                
            </ion-avatar>
            <ion-label style="margin-left:10px;width:100%;">
                {{ reddah.instant('Search.Title') }}
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item *ngFor="let request of friendRequestList">
            <ion-avatar slot="start" style="margin:5px;" (click)="goUser(request.UserName)">
                <img src="{{reddah.appData('userphoto_'+request.UserName)}}" class="user-portrait">
            </ion-avatar>
            <ion-label style="margin-left:10px;" (click)="goUser(request.UserName)">
                <div style="display: flex;padding:0 0 5px 0;">
                    <ion-label class="user-name">{{reddah.getDisplayName(request.UserName)}}</ion-label>
                    <ion-icon name="male" *ngIf="reddah.appData('usersex_'+request.UserName)==1" size="small" color="diamond"></ion-icon>
                    <ion-icon name="female" *ngIf="reddah.appData('usersex_'+request.UserName)==0" size="small" color="danger"></ion-icon><br>
                </div>
                <div style="display: flex;padding:0 0 5px 0;">
                    <ion-label>{{(request.Just=="confirmed")?(reddah.instant('Common.Accepted')):request.Just}}</ion-label>
                </div>
                <div style="display: flex;" *ngIf="!request.Approve">
                    {{(reddah.getSendTime(request.RequestOn | date: 'yyyy-MM-dd HH:mm:ss'))}}
                </div>
            </ion-label>
            <div slot="end" *ngIf="request.Approve">
                <ion-button [disabled]="true">{{ reddah.instant('Common.Added') }}</ion-button>
            </div>
            <div slot="end" *ngIf="!request.Approve">
                <ion-button (click)="accept(request.UserName)">{{ reddah.instant('Common.Accept') }}</ion-button>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
