@using Reddah.Web.UI.Resources
@using Reddah.Web.UI.Utility
@using System.Globalization
@{
    var locale = CultureInfo.CurrentUICulture.Name;
}

<style>
    .ai-container {
        width: 1170px;
        margin: 0 30px;
        margin-top: 0;
        min-height: 500px; /*1500*/
        display: flex;
        justify-content: flex-start;
    }

    .ai-list {
        min-width: 900px;
        min-height: 300px;
    }

    .ai-right {
        margin-left: 30px;
        width: 200px;
        min-height: 600px;
    }

    .articleLoading {
        padding: 30px;
        text-align: center;
    }
</style>
<link href="/Content/Post.css" rel="stylesheet" />

<input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@Helpers.GetAntiForgeryToken()'" />
<div class="ai-container" ng-controller="articleCtrl">
    <div class="ai-list" ng-init="getUserProfileArticles('@locale')" when-scrolled="loadMore('@locale')">
        <div class="post" ng-repeat="article in aiArticles">
            <h2 ng-if="article.ImageUrls.length>1"><a>{{htmlDecode(article.Title)}}</a> <span class="listInfo" style="display:none;">(source)</span></h2>
            <div class="postClear" ng-if="article.ImageUrls.length>1"></div>
            <div class="listImage" ng-repeat="articleUrl in article.ImageUrls">
                <div class="listImageWrapper">
                    <img class="BrowsePreviewImage" width="193" src="{{articleUrl}}" alt="picture not found">
                </div>
            </div>
            <h2 ng-if="article.ImageUrls.length<2"><a>{{htmlDecode(article.Title)}}</a> <span class="listInfo" style="display:none;">(source)</span></h2>
            <div>{{htmlDecode(article.Abstract)}}</div>
            <div class="listInfo">
                <a href="/@locale/r/{{article.GroupName}}"><u>{{article.GroupName}}</u></a>
                submitted {{article.CreatedOn}} ago by <a href="/@locale/user/{{article.UserName}}">{{article.UserName}}</a>
            </div>
            <div class="listInfo"><a href="/@locale/r/{{article.GroupName}}/comments/{{article.Id}}/{{htmlDecode(article.Title)}}/" target="_blank">{{article.Comments}} @Resources.Article_Comments</a> <!--share save hide report--></div>
            <div class="postClear"></div>
        </div>
        <div class="postClear"></div>
        <div class="articleLoading"><img src="/content/images/loading_50x50.gif" ng-show="loading==true" /></div>
    </div>
    <div class="ai-right" ng-init="getRightBox('@locale')">
        <div class="post" ng-repeat="item in aiRightBoxItems">
            <div class="listImage">
                <div class="listImageWrapper">
                    <img class="BrowsePreviewImage" width="193" src="{{item.ImageUrl}}" alt="picture not found">
                </div>
            </div>
            <div class="listInfo">
                <h2><a href="/@locale/{{item.ArticleUrl}}">{{htmlDecode(item.Title)}}</a></h2>
                <div>{{htmlDecode(item.Description)}}</div>
            </div>
            <div class="postClear"></div>
        </div>
        <div class="postClear"></div>
        <div class="articleLoading"><img src="/content/images/loading_50x50.gif" ng-show="rightBoxLoading==true"/></div>
    </div>
</div>
