@using Reddah.Web.UI.Utility
@using Reddah.Web.UI.Resources
@using System.Globalization
@{
    var locale = CultureInfo.CurrentUICulture.Name;
    var menu = Request.RequestContext.RouteData.Values["menu"];
    var sub = Request.RequestContext.RouteData.Values["sub"];
    var user = Request.RequestContext.RouteData.Values["user"];
    var keyword = Request.RequestContext.RouteData.Values["keyword"];
}

<link href="/Content/Post.css" rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .ai-list {
        min-height: 300px;
    }

    .articleLoading {
        padding: 30px;
        text-align: center;
    }

    .em_hint {
        display: inline-block;
        line-height: 1.5em;
        font-style: normal;
        background: #fcfbd7;
        padding: .5em .75em;
        margin: 5px 10px;
        border-radius: 5px;
        box-shadow: 0 2px 5px #d1d0bb;
        color: #222;
    }
    .reclist{
        padding: 5px;
    }
</style>
@if (menu != null && keyword != null && menu.Equals("search") && keyword.Equals("default"))
{
    string[] topics = { "春节", "祝福", "励志", "友情", "爱国", "怀古", "思乡", "惜时", "思念" ,
      "田园","送别","山水","爱情","边塞","悼亡","战争",
      "闺怨","清明","端午","中秋","七夕","重阳","寒食","元宵","春天","夏天",
      "秋天","冬天","雨","雪","风","花","梅花","荷花","菊花","柳",
      "月亮","马","哲理","唐诗三百首","怀古","古诗十九首","羁旅","宋词三百首",
      "小学","初中","高中","婉约","豪放","老师","母亲","读书","咏史诗","怀才不遇","寓理","忧国忧民","人生",
      "悲愤","孤独","讽刺","赞美","劳动","壮志难酬"
      };

    string[] authors = {
      "诗经","李白","杜甫","白居易","岑参","王维","孟浩然","贺知章","王勃","李商隐","杜牧","李贺","柳宗元",
        "李清照","黄庭坚","苏轼","王安石","欧阳修","梅尧臣","文天祥","杨万里","范成大","陆游","范仲淹","辛弃疾"
        };
    <div class="SearchArea" ng-controller="searchCtrl">
        <input id="SearchTextBox" type="text" name="q" class="TextBox" style="margin-right:10px;width:auto;" data-ng-model="keyword" url="" ng-keyup="searchOnEnter($event,'@locale')" maxlength="200" autocomplete="off" />
        <input id="SearchButton" type="button" class="SubmitButton" value="@Resources.Menu_Search" title="Search" ng-click="search('@locale')" />
    </div>
    <div class="postClear"></div>
    <hr />
    <div class="reclist">
        <span>推荐搜索</span>
        <div class="postClear"></div>
        @foreach (string topic in topics)
        {
            <span class="em_hint"><a href="/@locale/search/@topic">@topic</a></span>
        }
        <hr />
        @foreach (string author in authors)
        {
            <span class="em_hint"><a href="/@locale/search/@author">@author</a></span>
        }
    </div>

    <div class="postClear"></div>
}
else
{
    <input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@Helpers.GetAntiForgeryToken()'" />
    <div class="postBlock" id="postBlock" ng-controller="articleCtrl">
        <div class="ai-list" id="ai-list" ng-init="getUserProfileArticles('@locale','@menu','@sub','@user','@keyword')" when-scrolled="loadMore('@locale','@menu','@sub','@user','@keyword')">
            <div class="post" ng-repeat="article in aiArticles" on-finish-render-posts>
                <div class="postModuleLiner">
                    <div ng-if="article.VideoUrl.length>0">
                        <h2><a ng-click="viewArticle('@locale', urlDecode(article.GroupName), article.Id, urlDecode(article.Title))">{{htmlDecode(article.Title)}}</a> <span class="listInfo" style="display:none;">(source)</span></h2>
                        <div class="postClear"></div>
                        <video id="video_{{article.Id}}" ng-click="playVideo(article.Id)" ng-attr-src="{{trustAsResourceUrl(article.VideoUrl)}}"
                               ng-attr-poster="{{article.VideoPoster}}"
                               controls="controls" loop="true">
                            your browser does not support the video tag
                        </video>
                        <div class="postClear"></div>
                    </div>
                    <div ng-if="article.VideoUrl.length==0" ng-click="viewArticle('@locale', urlDecode(article.GroupName), article.Id, urlDecode(article.Title))">
                        <h2 ng-if="article.ImageUrls.length>1"><a>{{htmlDecode(article.Title)}}</a> <span class="listInfo" style="display:none;">(source)</span></h2>
                        <div class="postClear" ng-if="article.ImageUrls.length>1"></div>
                        <div class="listImage" ng-style="{display:article.ImageUrls.length>1?'flex':''}">
                            <div class="listImageWrapper" ng-repeat="articleUrl in article.ImageUrls">
                                <img class="lazy BrowsePreviewImage" onerror="this.style.display='none'" src="" data-original="{{articleUrl}}">
                            </div>
                        </div>
                        <h2 ng-if="article.ImageUrls.length<2"><a>{{htmlDecode(article.Title)}}</a> <span class="listInfo" style="display:none;">(source)</span></h2>
                        <div>{{summary(article.Content, 120)}}</div>
                    </div>
                    <div class="postClear"></div>
                    <div class="listInfo">
                        <span ng-repeat="group in article.GroupName.split(',')" style="padding:0 5px;">
                            <a href="/@locale/r/{{group}}"><u>{{group}}</u></a>
                        </span>
                    </div>
                    <div class="postClear"></div>
                    <div class="listInfo">
                        <i class="fa fa-clock-o"> {{article.CreatedOn}} </i>
                        <i class="fa fa-commenting-o" style="float:right;"> <a ng-click="viewArticle('@locale', urlDecode(article.GroupName), article.Id, urlDecode(article.Title))">{{article.Comments}}</a> </i>
                    </div>
                </div>
            </div>
            <div class="postClear"></div>
            <div class="articleLoading"><img src="/content/images/loading_50x50.gif" width="100" height="100" ng-show="loading==true" /></div>
        </div>
    </div>
}

