@using Reddah.Web.UI.Models
@using Reddah.Web.UI.Resources
@using Reddah.Web.UI.Utility
@using System.Globalization
@{
    var locale = CultureInfo.CurrentUICulture.Name;
}

<link href="/Content/Post.css" rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .ai-list {
        min-height: 300px;
    }

    .articleLoading {
        padding: 30px;
        text-align: center;
    }
</style>

<input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@Helpers.GetAntiForgeryToken()'" />
<div class="postBlock" id="postBlock" ng-controller="articleCtrl">
    <div class="ai-list" ng-init="getUserProfileArticles('@locale')" when-scrolled="loadMore('@locale')">
        <div class="post" ng-repeat="article in aiArticles">
            <div class="postModuleLiner">
                <div ng-if="article.VideoUrl.length>0">
                    <h2><a>{{htmlDecode(article.Title)}}</a> <span class="listInfo" style="display:none;">(source)</span></h2>
                    <div class="postClear"></div>
                    <video id="video_{{article.Id}}" webkit-playsinline ng-click="playVideo(article.Id)" src="{{trustAsResourceUrl(article.VideoUrl)}}" 
                           poster="https://compass-ssl.xbox.com/assets/0a/92/0a9223d2-0de5-47d4-9f5b-23b0bd26bb56.jpg?n=GoW4-MWF_Content-Placement-0_Launch-trailer_740x417.jpg"
                           controls="controls" loop="true">
                        your browser does not support the video tag
                    </video>
                    <div class="postClear"></div>
                </div>
                <div ng-if="article.VideoUrl.length==0" ng-click="viewArticle('@locale', article.GroupName, article.Id, urlDecode(article.Title))">
                    <h2 ng-if="article.ImageUrls.length>1"><a>{{htmlDecode(article.Title)}}</a> <span class="listInfo" style="display:none;">(source)</span></h2>
                    <div class="postClear" ng-if="article.ImageUrls.length>1"></div>
                    <div class="listImage" ng-style="{display:article.ImageUrls.length>1?'flex':''}">
                        <div class="listImageWrapper" ng-repeat="articleUrl in article.ImageUrls">
                            <img class="BrowsePreviewImage" src="{{articleUrl}}" alt="picture not found">
                        </div>
                    </div>
                    <h2 ng-if="article.ImageUrls.length<2"><a>{{htmlDecode(article.Title)}}</a> <span class="listInfo" style="display:none;">(source)</span></h2>
                    <div>{{htmlDecode(article.Abstract)}}</div>
                </div>
                <div class="postClear"></div>
                <div class="listInfo">
                    <i class="fa fa-clock-o"> {{article.CreatedOn}} </i>
                    <i class="fa fa-commenting-o"> <a href="/@locale/r/{{article.GroupName}}/comments/{{article.Id}}/{{urlDecode(article.Title)}}/" target="_blank">{{article.Comments}}</a> </i>
                    <a style="float:right" href="/@locale/r/{{article.GroupName}}"><u>{{article.GroupName}}</u></a>
                </div>
            </div>
        </div>
        <div class="postClear"></div>
        <div class="articleLoading"><img src="/content/images/loading_50x50.gif" width="100" height="100" ng-show="loading==true" /></div>
    </div>
</div>