@using Reddah.Web.UI.Utility
@using System.Globalization
@{
    var locale = CultureInfo.CurrentUICulture.Name;
    var menu = Request.RequestContext.RouteData.Values["menu"];
    var sub = Request.RequestContext.RouteData.Values["sub"];
    var user = Request.RequestContext.RouteData.Values["user"];
    var keyword = Request.RequestContext.RouteData.Values["keyword"];
}

<link href="/Content/Post.css" rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .ai-list {
        min-height: 300px;
    }

    .articleLoading {
        padding: 30px;
        text-align: center;
    }
</style>
<input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@Helpers.GetAntiForgeryToken()'" />
<div class="postBlock" id="postBlock" ng-controller="articleCtrl">
    <div class="ai-list" id="ai-list" ng-init="getUserProfileArticles('@locale','@menu','@sub','@user','@keyword')" when-scrolled="loadMore('@locale','@menu','@sub','@user','@keyword')">
        <div class="post" ng-repeat="article in aiArticles" on-finish-render-posts>
            <div class="postModuleLiner">
                <div ng-if="article.VideoUrl.length>0">
                    <h2><a ng-click="viewArticle('@locale', article.GroupName, article.Id, urlDecode(article.Title))">{{htmlDecode(article.Title)}}</a> <span class="listInfo" style="display:none;">(source)</span></h2>
                    <div class="postClear"></div>
                    <video id="video_{{article.Id}}" ng-click="playVideo(article.Id)" ng-attr-src="{{trustAsResourceUrl(article.VideoUrl)}}"
                           ng-attr-poster="{{article.VideoPoster}}"
                           controls="controls" loop="true">
                        your browser does not support the video tag
                    </video>
                    <div class="postClear"></div>
                </div>
                <div ng-if="article.VideoUrl.length==0" ng-click="viewArticle('@locale', article.GroupName, article.Id, urlDecode(article.Title))">
                    <h2 ng-if="article.ImageUrls.length>1"><a>{{htmlDecode(article.Title)}}</a> <span class="listInfo" style="display:none;">(source)</span></h2>
                    <div class="postClear" ng-if="article.ImageUrls.length>1"></div>
                    <div class="listImage" ng-style="{display:article.ImageUrls.length>1?'flex':''}">
                        <div class="listImageWrapper" ng-repeat="articleUrl in article.ImageUrls">
                            <img class="lazy BrowsePreviewImage" onerror="this.style.display='none'" src="" data-original="{{articleUrl}}">
                        </div>
                    </div>
                    <h2 ng-if="article.ImageUrls.length<2"><a>{{htmlDecode(article.Title)}}</a> <span class="listInfo" style="display:none;">(source)</span></h2>
                    <div>{{summary(article.Content, 60)}}</div>
                </div>
                <div class="postClear"></div>
                <div class="listInfo">
                    <span ng-repeat="group in article.GroupName.split(',')" style="padding:0 5px;">
                        <a href="/@locale/r/{{group}}"><u>{{group}}</u></a>
                    </span>
                </div>
                <div class="postClear"></div>
                <div class="listInfo">
                    <i class="fa fa-clock-o"> {{article.CreatedOn}} </i>
                    <i class="fa fa-commenting-o" style="float:right;"> <a ng-click="viewArticle('@locale', article.GroupName, article.Id, urlDecode(article.Title))">{{article.Comments}}</a> </i>
                </div>
            </div>
        </div>
        <div class="postClear"></div>
        <div class="articleLoading"><img src="/content/images/loading_50x50.gif" width="100" height="100" ng-show="loading==true" /></div>
    </div>
</div>
