<ion-item color="light" lines="none" style="--inner-padding-end:5px;">
    <ion-buttons>
        <ion-button (click)="locale()">
            <ion-icon name="earth" color="primary" size="large"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>{{ reddah.instant('AppTitle') }}</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="toggleReorder()">
            <ion-icon name="reorder-three-outline" size="large"></ion-icon>
        </ion-button> 
    </ion-buttons>
</ion-item>

<ion-content>
  <ion-list>
      <ion-reorder-group id="reorder" [disabled]="reorderDisabled" (ionItemReorder)="reorder($event)">
          <ion-item-sliding *ngFor="let record of reddah.records">
              <ion-item>
                  <ion-avatar slot="start" style="min-width:50px;">
                      <ion-button style="width:100%;font-size: large;" (click)="chooseToPlay(record)" *ngIf="record.create!=create">
                        <ion-icon name="play"></ion-icon>
                      </ion-button>
                      <ion-button style="width:100%;font-size: large;" color="success" (click)="chooseToStop()" *ngIf="record.create==create">
                        <ion-icon name="pause-outline"></ion-icon>
                      </ion-button>
                  </ion-avatar>
                  <ion-label (click)="goToDetails(record)">
                      <div style="margin-bottom:5px;">{{record.name}}</div>
                      <ion-text *ngIf="record.create!=create" color="medium">{{ reddah.instant('Create') }} {{reddah.utcToLocal(record.create,'YYYY-MM-DD HH:mm')}}</ion-text>
                      <div class="strongweek" *ngIf="record.create==create&&i>=0">
                        <div *ngFor="let b of box;index as index" class="sw-box">
                            <div [class.sw-highlight]="i%box.length==index" [class.sw-none]="i%box.length!=index">
                                <div class="sw-item"></div>
                                <div class="sw-item"></div>
                                <div class="sw-item"></div>
                            </div>
                        </div>
                      </div>
                  </ion-label>
                  <ion-badge color="primary" slot="end" style="font-size: large;min-width: 35px;">{{record.speed}}</ion-badge>
                  <ion-reorder slot="end"></ion-reorder>
              </ion-item>
              <ion-item-options side="end">
                  <ion-item-option color="danger" expandable (click)="deleteConfirm(record)">
                      <ion-text color="light">{{ reddah.instant('Delete') }}</ion-text>
                  </ion-item-option>
              </ion-item-options>
          </ion-item-sliding>
      </ion-reorder-group>
  </ion-list>
</ion-content>