@page
@model Metronome.Pages.EulerSudokuModel
@{
}

<div>
    <a class="nav-link text-dark" asp-area="" asp-page="/EulerSudokuPrivacy">Privacy</a>
</div>
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Welcome to play Euler Sudoku</h1>

    <h2>
        Euler Sudoku is a simple number place game. Complete each level to earn more coins, relax and challenge yourself, enjoy the happiness of playing with the numbers.
    </h2>

    <img alt="App Screenshot" src="https://is1-ssl.mzstatic.com/image/thumb/PurpleSource124/v4/8e/d1/e1/8ed1e12a-3080-2d25-bc0e-fee18fec8f80/1e5e0e51-8525-46cd-b75d-92b52d195016_2.png/800x400bb.png" class="screenshot img___3bI-K">
    <img alt="App Screenshot" src="https://is3-ssl.mzstatic.com/image/thumb/PurpleSource114/v4/5d/d8/22/5dd82269-a7ff-caf7-de1f-76fe9991be61/9f64497b-1c39-4439-a565-9900344b9ae4_3.png/800x400bb.png" class="screenshot img___3bI-K">
    <img alt="App Screenshot" src="https://is5-ssl.mzstatic.com/image/thumb/PurpleSource124/v4/96/79/37/96793704-d93b-ee24-301f-0077434d9e45/baa98d4f-4a29-49a0-84b4-0c9e0a441aeb_4.png/800x400bb.png" class="screenshot img___3bI-K">
    <img alt="App Screenshot" src="https://is1-ssl.mzstatic.com/image/thumb/PurpleSource114/v4/69/0c/60/690c602c-92ff-c642-d8c4-2150e62500a7/9008c76f-036a-4eea-bbde-8b9f2aa9589e_5.png/800x400bb.png" class="screenshot img___3bI-K">
    <img alt="App Screenshot" src="https://is5-ssl.mzstatic.com/image/thumb/PurpleSource124/v4/a9/c4/3d/a9c43d72-25fe-8070-73bd-31e8a04650c5/d82352d4-6ad0-4e07-a3be-62bd0eace398_6.png/800x400bb.png" class="screenshot img___3bI-K">
</div>
