@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bailin Studio</h1>

    <br />

    <br />

    <h2>
        Dirty dogs have more fun!
    </h2>

    <br />
    <br />

    <div style="display:flex;justify-content:space-around;">
        <div style="display:flex;align-items:center;margin-right:12px;" tabindex="0" role="button" aria-label="Maelzel" style="height: 100px;">
            <div class="app-icon-container___2LCYt" style="text-decoration: none;">
                <div class="icon-container___FGqhe">
                    <a href="/eulersudoku">
                        <div class="icon___16asu ios-mask___ScxcK" style="background-image: url(&quot;https://is2-ssl.mzstatic.com/image/thumb/Purple114/v4/a0/50/97/a05097ed-5066-3730-bd54-904984062760/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/200x200bb.png&quot;);
        background-size: 100px 100px;
        width: 100px;
        height: 100px;"></div>
                    </a>
                </div>
            </div>
            <a href="/eulersudoku" class="app-details-container___2Nz-Z" aria-label="Maelzel">
                <h3>Euler Sudoku</h3>
                <ul class="tb-list--no-bullet">
                    <li>
                        <span class="tb-status--waiting app-status-tag___16y6w">Just play with the numbers</span>
                    </li>
                </ul>
            </a>
        </div>
        <div style="display:flex;align-items:center;margin-right:12px;" tabindex="0" role="button" aria-label="Maelzel" style="height: 100px;">
            <div class="app-icon-container___2LCYt" style="text-decoration: none;">
                <div class="icon-container___FGqhe">
                    <a href="/maelzelmetronome">
                        <div class="icon___16asu ios-mask___ScxcK" style="background-image: url(&quot;https://is3-ssl.mzstatic.com/image/thumb/Purple124/v4/2c/cb/f5/2ccbf586-ed2f-fab0-3614-0a9fb72123c6/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/200x200bb.png&quot;); background-size: 100px 100px; width: 100px; height: 100px;"></div>
                    </a>
                </div>
            </div>
            <a href="/maelzelmetronome" class="app-details-container___2Nz-Z" aria-label="Maelzel">
                <h3>Maelzel Metronome</h3>
                <ul class="tb-list--no-bullet">
                    <li>
                        <span class="tb-status--waiting app-status-tag___16y6w">A simple and handy metronome</span>
                    </li>
                </ul>
            </a>
        </div>

    </div>
</div>