@page
@model Metronome.Pages.MaelzelMetronomeModel
@{
}


<div>
    <a class="nav-link text-dark" asp-area="" asp-page="/MaelzelPrivacy">Privacy</a>
</div>
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Welcome to use Maelzel</h1>

    <h2>
        Maelzel is a metronome simple and handy to use. Especially when learning piano. Maelzel can help to remember the beat for each music.
    </h2>

    <div style="display:flex;justify-content:space-around;">
        <img alt="App Screenshot" style="width:50%;height:50%;margin-right:10px;" src="https://is1-ssl.mzstatic.com/image/thumb/PurpleSource124/v4/62/19/ff/6219ff1b-ecc9-8606-8cb9-22ab04ad2dd4/1c1ce1f7-9af4-4909-8e28-160e8f9c304f_2.png/1242x2688bb.png" class="screenshot img___3bI-K">
        <img alt="App Screenshot" style="width:50%;height:50%;" src="https://is2-ssl.mzstatic.com/image/thumb/PurpleSource114/v4/d7/58/fe/d758fec4-68e9-cb40-c056-89f864a7aebb/ffed90ab-a05b-49b3-ba0c-6b7dd9814749_1.png/1242x2688bb.png" class="screenshot img___3bI-K">
    </div>
</div>