<ion-item color="light" style="--padding-start:0;" lines="none">
    <ion-icon name="chevron-back-outline" (click)="close()" class="backbutton"></ion-icon>
    <ion-label>{{ reddah.instant('Article.Topic') }}</ion-label>
    <ion-button color="success" slot="end" (click)="submit()">{{ reddah.instant('Confirm.Yes') }}</ion-button>
</ion-item>
<ion-content no-padding style="background-color: #eeeeee;">
    <ion-item lines="none" class="borderTop borderItem borderBottom" style="--padding-start:0;--inner-padding-end:0;">
        <ion-searchbar (ionInput)="filterTopics($event)" placeholder="{{reddah.instant('Article.Topic')}}" showCancelButton="focus"></ion-searchbar>
    </ion-item>
    <ion-list>
        <ion-list-header *ngIf="loading">
            <ion-spinner name="bubbles"></ion-spinner>
        </ion-list-header>
        <ion-list-header *ngIf="!loading">
            {{reddah.instant('Article.Recommend')}}
        </ion-list-header>
        <ion-item (click)="chooseTopic(topic)" *ngFor="let topic of topicList">
          <ion-label>{{topic}}</ion-label>
          <ion-note slot="end" color="primary"></ion-note>
        </ion-item>
      </ion-list>
</ion-content>
