<app-header htitle="Menu.Find"></app-header>
<ion-content [fullscreen]="true" class="common-content">
    <ion-item lines="none" class="borderTop borderBottom" (click)="miao()">
        <img src="/assets/icon/cat.png" class="menuIcon icon-image">
        <ion-label>(>^ω^<)</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
    </ion-item>

    <ion-item lines="none" class="common-splitter">
    </ion-item>
    <ion-item class="borderTop" (click)="shake()">
        <img src="/assets/icon/cat-fish.png" class="menuIcon icon-image">
        <ion-label>{{ reddah.instant('Menu.Shake') }}</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
    </ion-item>
    <ion-item (click)="map()">
        <img src="/assets/icon/cat-candy.png" class="menuIcon icon-image">
        <ion-label>{{ reddah.instant('Menu.Earth') }}</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
    </ion-item>
    <ion-item lines="none" class="borderBottom" (click)="newUsers()">
        <img src="/assets/icon/cat-happy.png" class="menuIcon icon-image">
        <ion-label>{{ reddah.instant('Menu.ActiveUsers') }}</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
    </ion-item>
<!--
    <ion-item lines="none" class="common-splitter">
    </ion-item>
    <ion-item class="borderTop" (click)="goPublicPage()">
        <ion-icon class="menuIcon" name="list" slot="start" color="subscribe" size="medium"></ion-icon>
        <ion-label>{{ reddah.instant('Menu.Publisher') }}</ion-label>
        <ion-icon name="chevron-forward-outline"slot="end" size="small"></ion-icon>
    </ion-item>
    <ion-item class="borderBottom" lines="none" class="borderBottom" (click)="goSearchN(3)" detail="false">
        <ion-icon class="menuIcon" name="infinite" slot="start" color="mini" size="medium"></ion-icon>
        <ion-label>{{ reddah.instant('Menu.MiniApp') }}</ion-label>
        <ion-icon name="chevron-forward-outline"slot="end" size="small"></ion-icon>
    </ion-item>
-->
    <ion-item lines="none" class="common-splitter">
    </ion-item>
    
    <ion-item class="borderTop" (click)="goPublicPage()">
        <img src="/assets/icon/cat-read.png" class="menuIcon icon-image">
        <ion-label>{{ reddah.instant('Menu.Publisher') }}</ion-label>
        <ion-icon name="chevron-forward-outline"slot="end" size="small"></ion-icon>
    </ion-item>
    <ion-item class="borderBottom" lines="none" class="borderBottom" (click)="goGame()" detail="false">
        <img src="/assets/icon/cat-chief.png" class="menuIcon icon-image">
        <ion-label>{{ reddah.instant('Menu.Game') }}</ion-label>
        <ion-icon name="chevron-forward-outline"slot="end" size="small"></ion-icon>
    </ion-item>
</ion-content>

