<app-headercat htitle="Menu.Find"></app-headercat>
<ion-content [fullscreen]="true">
    <ion-item lines="none" class="borderTop borderBottom" (click)="miao()">
        <ion-icon class="menuIcon" name="images-outline" slot="start" size="medium"></ion-icon>
        <ion-label>看(>^ω^<)喵</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
    </ion-item>

    <ion-item lines="none" class="common-splitter">
    </ion-item>
    <ion-item class="borderTop" (click)="shake()">
        <ion-icon class="menuIcon" name="color-wand" slot="start" size="medium"></ion-icon>
        <ion-label>{{ reddah.instant('Menu.Shake') }}</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
    </ion-item>
    <ion-item (click)="map()">
        <ion-icon class="menuIcon" name="earth" slot="start" size="medium"></ion-icon>
        <ion-label>{{ reddah.instant('Menu.Earth') }}</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
    </ion-item>
    <ion-item lines="none" class="borderBottom" (click)="newUsers()">
        <ion-icon class="menuIcon" color="point" name="fitness-outline" slot="start" size="medium"></ion-icon>
        <ion-label>{{ reddah.instant('Menu.ActiveUsers') }}</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
    </ion-item>
<!--
    <ion-item lines="none" class="common-splitter">
    </ion-item>
    <ion-item class="borderTop" (click)="goPublicPage()">
        <ion-icon class="menuIcon" name="list" slot="start" color="subscribe" size="medium"></ion-icon>
        <ion-label>{{ reddah.instant('Menu.Publisher') }}</ion-label>
        <ion-icon name="chevron-forward-outline"slot="end" size="small"></ion-icon>
    </ion-item>
    <ion-item class="borderBottom" lines="none" class="borderBottom" (click)="goSearchN(3)" detail="false">
        <ion-icon class="menuIcon" name="infinite" slot="start" color="mini" size="medium"></ion-icon>
        <ion-label>{{ reddah.instant('Menu.MiniApp') }}</ion-label>
        <ion-icon name="chevron-forward-outline"slot="end" size="small"></ion-icon>
    </ion-item>
-->
    <ion-item lines="none" class="common-splitter">
    </ion-item>
    <ion-item class="borderTop" (click)="gameCube()">
        <ion-icon class="menuIcon" name="game-controller-outline" slot="start" color="subscribe" size="medium"></ion-icon>
        <ion-label>游戏1 Cube</ion-label>
        <ion-icon name="chevron-forward-outline"slot="end" size="small"></ion-icon>
    </ion-item>
    <ion-item class="borderBottom" (click)="gameRemember()" detail="false">
        <ion-icon class="menuIcon" name="game-controller-outline" slot="start" color="mini" size="medium"></ion-icon>
        <ion-label>游戏2 Remember</ion-label>
        <ion-icon name="chevron-forward-outline"slot="end" size="small"></ion-icon>
    </ion-item>
    <ion-item class="borderBottom" (click)="gameConnect()" detail="false">
        <ion-icon class="menuIcon" name="game-controller-outline" slot="start" color="mini" size="medium"></ion-icon>
        <ion-label>游戏3 Connect</ion-label>
        <ion-icon name="chevron-forward-outline"slot="end" size="small"></ion-icon>
    </ion-item>
    <ion-item class="borderBottom" (click)="goSearchN(3)" detail="false">
        <ion-icon class="menuIcon" name="game-controller-outline" slot="start" color="mini" size="medium"></ion-icon>
        <ion-label>游戏4</ion-label>
        <ion-icon name="chevron-forward-outline"slot="end" size="small"></ion-icon>
    </ion-item>
    <ion-item class="borderBottom" (click)="goSearchN(3)" detail="false">
        <ion-icon class="menuIcon" name="game-controller-outline" slot="start" color="mini" size="medium"></ion-icon>
        <ion-label>游戏5</ion-label>
        <ion-icon name="chevron-forward-outline"slot="end" size="small"></ion-icon>
    </ion-item>
    <ion-item class="borderBottom" lines="none" class="borderBottom" (click)="goSearchN(3)" detail="false">
        <ion-icon class="menuIcon" name="game-controller-outline" slot="start" color="mini" size="medium"></ion-icon>
        <ion-label>游戏6</ion-label>
        <ion-icon name="chevron-forward-outline"slot="end" size="small"></ion-icon>
    </ion-item>
</ion-content>

