<!-- 
This game is on iOS and Android "Infinity Loop"
I loved the concept ant wanted to see if I could make it in jQuery 
-->
<div id="toolbar">
    <div id="theme">Light Off</div> <span>Inspired by <a href="https://loopgame.co/" target="_blank">loopgame.co</a></span>
</div>

<div class="level1" style="width:280px" data-code="1231243" data-set="e1.b.c2.c3.c1.s2.c4.e2" data-text="Rotation Game <br><span>Click a block to complete the pipe.</span>"></div>
<div class="level2" data-code="2323114311231414" data-set="c1.c2.c4.c1.s2.c3.c1.e1.s1.e2.c1.c3.c4.c1.c2.c3"></div>
<div class="level3" data-code="222314311113443" data-set="c2.s1.s2.c1.s2.e1.c1.s1.s1.b.s2.s2.e1.e1.c1.e1" data-text="Multiple pipes."></div>
<div class="level4" data-code="2323141423231414" data-set="c4.c1.c3.c1.c2.c3.c4.c1.c2.c1.c3.c2.c1.c1.c2.c1" data-text="Circles."></div>
<div class="level5" data-code="222312242211314311143" data-set="c4.s1.s1.c1.c2.s2.s2.c1.b.c2.e3.e4.b.c2.c1.s2.e3.c2.s2.s1.b.c1.c2.e1"></div>
<div class="level6" data-code="122311241413422423311231223" data-set="e1.c2.s1.c4.s1.s2.c1.c3.c1.c3.c2.c4.e2.e4.c3.c2.c4.c2.e4.b.s1.c3.s2.c4.c1.s1.e2.e3"></div>

<div id="win">
    <div class="text">Level <span>1</span> Complete</div>
</div>
<div id="finished">
    <div class="text">Game Completed!</div>
</div>