<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 4
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="full" (click)="loadProducts()">Load Products</ion-button>
  <ion-card *ngFor="let p of products">
    <cached-image [src]="p.image" [spinner]="true"></cached-image>
    <ion-card-content>
      <ion-label>
        {{p.title}}
        <p>{{p.price| currency:'USD'}}</p>
      </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
