/**
Style use in all pages
**/
body 
{
    background: #ffffff;
}

h1
{
    Font-family: "Segoe UI", Arial, Sans-Serif; 
    Font-size: 36px;
    color: #636468;
    Padding: 0;
    Margin: 0;
}

h2
{
    Font-family: "Segoe UI", Arial, Sans-Serif;
    Font-size: 20px;
    color: #636468;
    Padding: 0;
    Margin: 0;
}

h3 
{
    Font-family: "Segoe UI", Arial, Sans-Serif;
    font-size: 18px;
    color: #636468;
    Padding: 0;
    Margin: 0;
}

.ColorCarbonGrey
{
    color:#636468;
}
  
.ColorSlateGrey
{
    color:#393738;
}
  
.ColorAlloyGrey
{
    color:#BDBEC1;
}
  
.ColorChillGrey
{
    color:#E2E2E2;
}
  
.FormFieldTitle,
.DropDownTitle
{
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #555555;
}

.FormFieldInput,
.PreFilledFormInput
{
    font-family: "Segoe UI", Arial, Sans-serif;
    font-size: 14px;
}

.FormFieldInputEmpty,
textarea.FormFieldInputEmpty,
input.FormFieldInputEmpty
{
    color: #BDBEC1;
    font-size: 12px;
    font-style: italic;
}   

a.disabled,
a.disabled:hover
{
   pointer-events: none;
   cursor: default;  
   color: #107C10;  
}
 
a.ms-rteStyle-button-green,
a.ms-rteStyle-button-green:link,
a.ms-rteStyle-button-green:visited,
a.ms-rteStyle-button-green:hover {
	display: inline-block;
	padding: 0.5em 1.5em;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	background: #76b900;
	margin-top: 20px;
}

a.ms-rteStyle-button-green:hover {
	background: #2ca243;
}

a.ms-rteStyle-button-green.disabled:hover {
	background: #76b900;
}

.ms-rteForeColor-2 {
    color: red;
}

.FloatLeft
{
    float: left;
}

.ClearBoth
{
    clear: both;
}

/** header component **/
div#headerLiveStatus
{
    position: absolute;
    left: 145px;
    height: 80px;
    margin-left:6px;
    background-image: url("/Content/Images/H_Line.png");
    background-position: 0 center;
    background-repeat: no-repeat;
}

div.LiveStatusIcon
{
    float:left;
    margin-right:10px;
    margin-left:22px;
    margin-top:28px;
}

div.LiveStatusLabel
{
    float:left;   
    font:arial;
    font-size: 10px;
    color: #636468;
    margin-top:28px;
}

.LiveStatusLabelTitle
{
    font-weight:800;
    color: #636468;
}

.LiveStatusLabelContent
{
    color: #636468;
}

.LiveStatusLiner
{
    border-color: #BDBEC0 ;
    border-right: 0 none;
    border-style: solid none none; 
    border-width: 1px 0 0;
    height: 0;
    margin: 13px 0 15px;
    overflow:hidden; 
    padding: 0;
}

.LiveStatusTopicHeader
{
    width:200px; 
    float:left; 
    font-size: 20px; 
    font-family: "Segoe UI", Arial, Sans-Serif; 
    color: #231f20;
}

.LiveStatusOverallStatusOK
{
    width:755px; 
    float:right; 
    margin-top:15px;
    height:81px; 
    background-color:#e3f1d9
}

#page-content .LiveStatusDetailMessageNOK  ul li 
{
    list-style-type: none;
    margin-left: 0;
    list-style-position: outside;
}

.LiveStatusOverallStatusNOK
{
    width:755px; 
    float:right; 
    margin-top:15px;
    height:81px; 
    background-color:#ffcccc
}

.LiveStatusOverallVerticalLineOK
{
    height:81px; 
    background-color:#2b9646; 
    width:10px; 
    float: left;
    margin-right:10px;
}

.LiveStatusOverallVerticalLineNOK
{
    height:81px; 
    background-color:#cb091f; 
    width:10px; 
    float: left;
    margin-right:10px;
}

.LiveStatusOverallIconOK
{
    background: url('/Content/Images/icon_status_running.png') no-repeat; 
    width:25px; 
    height:25px; 
    float:left; 
    margin-top:28px
}

.LiveStatusOverallIconNOK
{
    background: url('/Content/Images/icon_status_alert.png') no-repeat; 
    width:25px; 
    height:25px; 
    float:left; 
    margin-top:28px
}

.LiveStatusOverallDetailOK
{
    width:710px; 
    float:right;
    font-family:Arial; 
    font-size:24px; 
    color:#06723b; 
    text-indent:10px;
}

.LiveStatusOverallDetailNOK
{
    width:710px; 
    float:right;
    height: 81px;
    font-family:Arial; 
    font-size:24px; 
    color:#cb091f; 
    text-indent:10px;
}

.LiveStatusDetailVerticalLineOK
{
    min-height:40px; 
    background-color:#2b9646; 
    width:10px; 
    float: left;
    margin-right:10px;
}

.LiveStatusDetailVerticalLineNOK
{
    background-color:#cb091f; 
    width:10px; 
    margin-right:10px; 
    padding:0;
}

.LiveStatusDetail
{
    width:755px; 
    float:right; 
    margin-top:15px
}

.LiveStatusDetailItem
{
    width:755px; 
    float:right; 
    min-height:40px; 
    background-color:#f2f2f2; 
    margin-bottom:5px
}

.LiveStatusDetailIconOK
{
    background: url('/Content/Images/icon_status_running.png') no-repeat; 
    width:25px; 
    height:25px; 
    float:left; 
    margin-top:7px;
}

.LiveStatusDetailIconNOK
{
    background: url('/Content/Images/icon_status_alert.png') no-repeat; 
    width:25px; 
    height:25px;
    margin-top:7px;
    margin-left:10px;
}

.LiveStatusDetailItemMessage
{
    width:710px; 
    float:right;
    font-size: 14px;
    position:relative;
    margin-top:7px;
    height: 25px;
    line-height: 23px;
}

.LiveStatusCategoryTitle
{
    color: #231f20; 
    font-weight: bold;
    margin-top: 7px;
    margin-left: 10px; 
}

.LiveStatusDetailItem table tr td
{
    padding: 0;
    margin: 0;
}

.LiveStatusDetailItem table
{
    table-layout:auto;
}

.LiveStatusDetailMessageNOK
{
    margin-top: 7px;
}

.LiveStatusAlert
{
    width: 710px; 
    margin-top:28px
}

div.StatusOKText span 
{
    margin-left: 6px;    
}

/** 
Solution Article Page
**/
div#Solution-Article-Title
{
    margin-top: -2px;
}
   
div#Solution-Article-Title h1
{
    margin-bottom: 0px;
}
   
/**
Solution Article Page
Start Module
**/

div.StartModule
{
    margin-top: 0px;
}

div.StartModuleLiner
{
    border-color: #BDBEC1 ;
    border-right: 0 none;
    border-style: solid none none; 
    border-width: 1px 0 0;
    height: 0;
    overflow:hidden; 
    padding: 0;
    margin-top: 18px;
    margin-bottom: 0px;
}

div.StartModule h2 
{
    margin-bottom: 24px;
    margin-top: 7px;
    padding-top: 0px;  
}
   
h2.StartModuleLongArticle
{
    font-size: 18px;
    margin-bottom: 9px;
    margin-top: 23px;  
}
   
h3.LongArticleTitle
{
    margin-bottom: 18px;
}
   
/**
Solution Article Page
Html text Module
**/
 
div.TextModule
{
    margin-left: 202px;
}
   
/**
Solution Article Page
One Image Module
Two images Module
**/

img.ImageModule
{
    border: 1px;
    border-style:solid;
    border-color: #BDBEC1;
    margin-right: 20px;
    margin-bottom: 4px;
}

td.ImageModuleBlank
{
    width: 193px;
    max-width: 193px;
    min-width: 193px;
    border: none;
}

td.ImageModuleContent
{
    width: 755px;
    border: none;
}

td.ImageModuleText
{
    padding-bottom: 16px;
    vertical-align: top;
    font-style: italic;
}

div.ImageModuleImageContent
{
    float: left;
}

div.ImageModuleTextContent
{
    margin-top: -4px;
}

table.OneImageModule
{
    table-layout: auto;
}

table.TwoImageModule
{
    table-layout: auto;
    border: none;
    padding: 0px;
}

td.TwoImagesModuleImageContent
{
    width:363px;
    border: none;
    padding: 0px;
    vertical-align: top;
}

img.TwoImagesModuleImageContent
{
    border: 1px;
    border-style:solid;
    border-color: #BDBEC1;
    margin-bottom: 11px;
    width: 363px;
}

div.ImageModuleBlank
{
    float: left;
    width: 200px;
    margin-bottom: 20px;
}

div.ImageModuleContent
{
    float: right;
    margin-bottom: 20px;
}

div.SmallImageModuleTextContent ul, div.SmallImageModuleTextContent ol
{
    margin-left: 193px;
    margin-top: 0px;
}

div.MediumImageModuleTextContent ul, div.MediumImageModuleTextContent ol
{
     margin-left: 365px;    
     margin-top: 0px;
}

div.ImageModuleImageContent img.Small
{
    width:193px;
    padding-top: 1px;
}

div.ImageModuleImageContent img.Medium
{
    width:363px;
}

div.ImageModuleImageContent img.Large
{
    width:753px;
}

td.TwoImagesModuleBetweenContent
{
    width: 18px;
}

/**
Solution Article Page
Long article Module
**/

div.LongArticleTitle
{
    margin-left: 200px;    
}

div.AnchorLink
{
    margin-bottom: 9px;
}

div.AnchorLinkImage
{
    margin-top: 2px;
    float: left;
}

div.AnchorLinkText
{
    margin-left: 21px;
}

/**
Solution Article Page
related content Module
**/
div.RelatedContentModule h2
{
    margin-bottom: 20px;
}

div.RelatedContentModuleLinkList
{
    margin-left: 200px;
    margin-top: 0px;
}

a.RelatedContentModuleLinkList
{
    margin-bottom: 5px;
}

/**
Solution Article Page
one video Module
**/

table.OneVideoModule
{
    table-layout: auto;
}

td.VideoModuleBlank
{
    width: 198px;
    max-width: 198px;
    min-width: 198px;
    border: none;
}

td.VideoModuleContent
{
    width: 754px;
    border: none;
}

div.VideoModuleImageContent
{
    float: left;
    margin-right: 20px;
}

div.VideoModuleMediumImage
{
    float: left;
    margin-right: 20px;
}

div.VideoModuleMediumImage img 
{
    border: 1px;
    border-style:solid;
    border-color: #BDBEC1;
    margin-right: 18px;
    margin-bottom: 18px;
}

div.VideoModuleLargeImage
{
    float: left;
}

div.VideoModuleLargeImage img 
{
    border: 1px;
    border-style:solid;
    border-color: #BDBEC1;
}

div#videoPlayerErrorScreen
{
    padding-bottom: 0;
    padding-top: 1px;
}

/**
Solution Article Page
Feedback Module
**/

div.FeedBackModule 
{
    margin-top: 30px;
    margin-bottom: 39px;
    background-color: #E2E2E2; 
}

div#FeedBackInvitation, div#FeedBackThanking
{
    height: 52px;
    line-height: 46px;
    display: none;
}

div#FeedBackInvitation h3, div#FeedBackThanking h3
{
    margin-left: 15px;
    margin-right: 15px;
    float: left;
    height: 37px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 800px;
    word-wrap: normal;
}

div#FeedBackInvitation #FeedbackYesButton, div#FeedBackInvitation #FeedbackNoButton
{
    float: left;
    margin-top: 15px;
    margin-right: 5px;
    height: 22px;
    line-height: 22px;
    background-color: #107C10;
    text-align: center;
    cursor:pointer;
}

div#FeedBackInvitation #FeedbackYesButton:hover , div#FeedBackInvitation #FeedbackNoButton:hover
{
    float: left;
    margin-top: 15px;
    margin-right: 5px;
    height: 22px;
    line-height: 22px;
    background-color: #2B9646;
    text-align: center;
    cursor:pointer;
}

div#FeedbackYesButton span, div#FeedbackNoButton span
{
    color: #ffffff;
    text-transform: uppercase;
    margin-left: 14px;
    margin-right: 14px;
    font-weight: bold;
    font-family: "Segoe UI", Arial, Sans-Serif;
}

div#BroswerOpacify
{
    display:none;
    background-image: url("/Content/Images/opacityPix.png");
    z-index: 1000;
    position: fixed;
    top:0;  
    right:0;  
    bottom:0;  
    left:0;  
    width: 100%;
    height: 100%;
}

div#FeedBackModuleExpanded
{
    display:none;
    z-index: 1001;
    position: absolute;
    width: 745px;
    height: auto;
}

div#FeedBackThanks
{
    margin: auto;
    margin-top: auto;
    width: 745px;
    background-color: #ffffff;
    display: none;
}

div#FeedBackThanks h2, div#FeedBackForm h2
{
    margin-left: 16px;
    margin-bottom: 2px;
    margin-top: 8px;
}

div#FeedBackForm
{
    margin: auto;
    margin-top: auto;
    width: 745px;
    background-color: #ffffff;
}

div.FeedbackLiner
{
    margin-left: 20px;
    margin-right: 20px;
    border-color: #BDBEC1 ;
    border-right: 0 none;
    border-style: solid none none; 
    border-width: 1px 0 0;
    height: 0;
    overflow:hidden; 
    padding: 0;
}

div.ThankYouMessageText
{
    margin-left: 20px;
    margin-top: 14px;
    padding-bottom: 25px;
}

div.FeedbackHide
{
    float:right;
    cursor:pointer;
    margin-right: 6px;
    margin-top: 6px;
    height: 15px;
    width: 15px;
    background-image: url('/Content/Images/close_rest15x15.png');
}

div.FeedbackHide:hover
{
    float:right;
    cursor:pointer;
    margin-right: 6px;
    margin-top: 6px;
    height: 15px;
    width: 15px;
    background-image: url('/Content/Images/close_hover15x15.png');
}

.FeedbackControlQuestion
{
    font-family:Arial;
    display: block;
    margin-top: 20px;
    margin-bottom: 14px;
    margin-left: 20px;
    margin-right: 10px;
}

.FeedbackControlQuestionTextField
{
    font-family:Arial;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 10px;
}

span.FeedbackControlResponse
{    
    margin-bottom: 16px;
}

input.FeedbackControlResponse  
{
    margin-left: 20px;  
}

label.FeedbackControlResponse  
{
    margin-left: -4px;
    margin-right:4px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: lighter;
    empty-cells: show;
    vertical-align: text-top;
}

.FeedbackControlCharMsg
{
    font-family:Arial;
    font-size:10px;
    color:Gray; 
    margin-left:15px; 
    float:right; 
    margin-right:0px;   
}

.FeedbackControlMultilineResponse
{
    width: 685px;
    height:60px;
    font-family:Arial;
    font-size:14px;
    margin-left:20px; 
    padding:10px;
    padding-left:7px;
    color:#636468;
    overflow:auto;
    resize: none;
}

.FeedbackControlMultilineResponseNotFocused
{
    font-style: italic;
    color:  #bebec0;
}

.FeedbackControlMultilineResponseFocused
{
    font-style: normal;
}

.FeedbackControlPrivacyStmt
{
    height:10px;
    font-family:Arial;
    font-size:10px; 
    margin-left:20px;
    float:left;
}

.FeedbackControlErrorText
{
    font-family:Arial;
    font-size:10px;
    color:Red;
    font-weight:bold;
}

.FeedbackControlPanel
{
    width: 307px;
    height: 90px;    
}

input.FeedbackControlSubmit
{
    background-attachment: scroll;
    background-color: #76B900;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    border: #76B900 0px solid;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: normal;  
    margin-bottom: 20px;
    margin-top: 13px;
    margin-left: 20px;
    margin-right: 18px;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.5em;  
    height:28px;
    
}

input.FeedbackControlSubmitDesable
{
    cursor: default;
    opacity:0.4;
    filter:alpha(opacity=40);
    -moz-opacity : 0.4;
    -ms-filter: "alpha(opacity=40)";
}

input.FeedbackControlSubmitDesable:hover
, input.FeedbackControlSubmitDesable:focus
, input.FeedbackControlSubmitDesable:active
, input.FeedbackControlSubmitDesable:visited
, input.FeedbackControlSubmitDesable:link
{
    background-color: #76B900;
}

input.FeedbackControlSubmitEnable
{
    cursor: pointer;
}

input.FeedbackControlSubmitEnable:hover
, input.FeedbackControlSubmitEnable:focus
, input.FeedbackControlSubmitEnable:active
, input.FeedbackControlSubmitEnable:visited
, input.FeedbackControlSubmitEnable:link
{
     background-color: #4f9646;
}

table.feedBackControlSubmit
{
    width: 745px;
    text-align: right;
}

.FeedBackControlTextareaFooter
{
    width:724px;
    height:11px;
    margin-bottom:0px;
    margin-top: 2px;
}

table.FeedBackHeader
{
    width: 745px;
}

td.FeedBackHeader
{
    vertical-align: top;
}

/**
Solution Article Page
Forum Topic Module
**/
div.ForumViewAll 
{
    float: right;
    margin-top: 15px;
    background-image: url('/Content/Images/arrow_static15x15.png');
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
}

div.ForumViewAll a
{
    margin-right: 18px;
}

div.ForumModule h2
{
    margin-bottom: 20px;
}

div.ForumTopicList
{
    margin-left: 200px;
}

div.ForumMetadata
{
    font-size: 12px;
    color: #BDBEC1;
}

div.ForumMetadata a
{
    font-size: 12px;
    color: #BDBEC1;
    text-decoration: underline;
}

div.ForumMetadata a:hover
{
    color: #231f20;
}

div.ForumTopicLiner
{
    border-color: #e6e7e7 ;
    border-right: 0 none;
    border-style: solid none none; 
    border-width: 1px 0 0;
    height: 0;
    overflow:hidden; 
    padding: 0;
    margin-top: 15px;
    margin-bottom: 10px;
}

div.ForumTopicLink
{
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: normal;
    word-break: normal;
    text-overflow: ellipsis;
}

/** 
Contact Us
**/
.ContactUsSubTitle
{
    margin-top: 7px;
    margin-bottom: 16px;
}

.ContactUsClassicSubTitle
{
    margin-top: 18px;
    margin-bottom: 20px;
}

.ContactUsStepContainer
{
   clear: both;
   border-top-width: 1px;
    border-top-color: #BDBEC1;
    border-top-style: solid;
    margin-bottom: 30px;
    margin-top: 16px;
    padding-top: 7px;
}

.ContactUsStepContainer h2, ContactUsContactFull h2
{
    margin: 0;
    padding: 0;
}

.ContactUsAllDropDownListContainer
{
   clear: both;
}

.ContactUsDropDownListContainer,
.DropDownListContainer
{
    float: left;
    margin-bottom: 30px;
    margin-right: 10px;
}

.ContactUsDropDownListLoading,
.DropDownListLoading
{
    float: left;
}

.ContactUsArticlesContainer
{
   clear: both;
   margin-bottom: 30px;
   border: 1px inset  #c1c1c1; 
}

.ContactUsDropDownListTitle,
.DropDownListTitle
{
    margin-bottom: 7px;
}

.ContactUsDropDownListValue
{
    border: 0px;     
    font-family: Arial, Sans-Serif;
    font-size: 12px;
    color: #636468;
    background-color: #E2E2E2;
    width: 150px;
    height: 25px;
    border-collapse: collapse;
    padding-left: 10px;
    padding-top: 5px;
    
}

.WarningTitle
{
    color: #231f20;
    font-family: "Segoe UI", Arial, Sans-Serif;
    font-size: 20px;
}   
   
 .ContactUsArticlePicture
 {
    float: left;
    padding-top: 5px;   
    margin: 0 20px 0 20px; 
 }
 
 .ContactUsArticlesContent
 {
   margin: 0 0 0 16px;
   list-style: none;
 } 

#page-content .ContactUsArticlesContent ul
{
    margin-bottom: 0px;
}
 #page-content .ContactUsArticlesContent ul li
 {
   list-style: none;
   margin: 0;
 } 

P.ContactUsContactBody
{
    margin-top: 0;
}

.ContactUsBoldRed
{
    font-family: Arial, Sans-Serif;
    font-size: 14px;
    font-weight: bold;
    color: #ff0000;
}

.ContactUsBoldItalic
{
    font-weight: bold;
    font-style:italic
}
.ContactUsContactsContainer
{
   clear: both; 
}

.ContactAllContacts
{
   opacity:0.2;
   filter:alpha(opacity=20);
}


.ContactUsContactTypeContainer
{
    float: left;
}

.ContactUsContactTypeTitle
{
    float: left;
    width: 235px;
    margin-right: 45px;
    margin-bottom: 6px;
}

.ContactUsContactTypeTitle h3
{
  margin: 0;
  padding: 0;
} 

.ContactUsContactTypeTitle2
{
    float: left;
    width: 515px;
    margin-right: 45px;
}

.ContactUsSeparator1
{
    float: left;
    width: 45px; 
}

.ContactUsSeparator2
{
    float: left;
    width: 45px;
    border-top-width: 1px;
    border-top-color: #e2e2e2;
    border-top-style: solid;  
}

.ContactUsSeparator3
{
    float: left;
    width: 160px;
    border-top-width: 1px;
    border-top-color: #e2e2e2;
    border-top-style: solid;  
}


.ContactUsContactFullContainer
{
    float: left; 
}

.ContactUsDialingContainer
{
    padding-top: 5px;
    border-top-width: 1px;
    border-top-color: #C1C1C1;
    border-top-style: solid; 
    margin-bottom: 30px;
    margin-top: 18px;
}

.ContactUsContactFull
{
    float: left;
    width: 235px;
    padding-top: 20px; 
    margin-bottom: 20px;
    border-top-width: 1px;
    border-top-color: #e2e2e2;
    border-top-style: solid;   
}

.ContactUsPadding1
{
    padding-right: 45px;
}

.ContactUsPadding2
{
    padding-right: 160px;
}

.ContactUsPadding3
{
    padding-right: 280px;
}

.ContactUsContactSmallContainer
{
    float: left; 
    margin-bottom: 20px;
}

.ContactUsContactSmall
{
    float: left;  
    width: 235px;
    margin-right: 45px;  
}

.ContactUsContactBody
{
    margin-bottom: 10px;
}

.ContactUsContactBodyState
{
    color: #231f20;
    font-weight: bold;
}

.ContactUsContactButton
{
   text-transform:uppercase;
}

/**
 * Request chat page
 */
 
.request-support-h2 {
    margin-bottom: 14px;
}

div.request-support-user-data-table {
    margin-top: -6px;
    margin-bottom: 12px;
    table-layout: auto;
}

.request-support-login-column1, .request-support-description-column1, .request-support-start-column1
{
    vertical-align: top;
    width: 435px;
}

.request-support-login-column2, .request-support-description-column2, .request-support-start-column2
{
    vertical-align: top;
    padding-left: 5px;
    width: auto;
}

.request-support-description-edit
{
    width: 400px;
    height: 105px;
    padding: 3px 10px;
    overflow:auto;
    resize: none;
}

.request-support-user-data-edit {
    width: 130px;
    height: 18px;
    padding-left: 10px;
    padding-right: 10px;
    overflow:hidden;
    resize: none;
    margin-right: 5px;
}

input.request-support-mandatory-field, textarea.request-support-mandatory-field
{
    background-color: #FFEEEE;
}

input#request-support-login, input[type="submit"].request-support-submit-btn, input[type="submit"].request-support-submit-btn-disabled {
    padding-left: 15px;
    padding-right: 15px;
}

input#request-support-login:hover, input#request-support-login:focus {
    background-color: #2B9646;
    cursor: pointer;
    cursor: hand;
}

input[type="submit"].request-support-submit-btn:hover, input[type="submit"].request-support-submit-btn:focus {
    background-color: #2B9646;
    cursor: pointer;
    cursor: hand;
}

input[type="submit"].request-support-submit-btn-disabled {
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; /* ie 7 */
    -ms-filter: "alpha(opacity=40)"; /* ie 8 */
    filter: alpha(opacity=40); /* ie lt 7 */
    -khtml-opacity: .4; /* safari 1.x */
    -moz-opacity: .4; /* ff lt 1.5, netscape */
}

input[type="submit"].request-support-submit-btn-disabled:hover, input[type="submit"].request-support-submit-btn-disabled:focus {
    background-color: #2B9646;
    cursor: pointer;
    cursor: hand;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* ie 7 */
    -ms-filter: "alpha(opacity=50)"; /* ie 8 */
    filter: alpha(opacity=50); /* ie lt 7 */
    -khtml-opacity: .5; /* safari 1.x */
    -moz-opacity: .5; /* ff lt 1.5, netscape */
}

.request-support-step
{
    Font-family: "Segoe UI", Arial, Sans-Serif;
    Font-size: 20px;
    color: #231f20;
    Margin-top: -15px;
    Margin-bottom: 0px;
}

.request-support-step-description
{
    Font-family: "Segoe UI", Arial, Sans-Serif;
    Font-size: 20px;
    color: #636468;
    Margin-top: -15px;
    Margin-bottom: 0px;
}

table#request-support-description-table
{
    table-layout: auto;
    margin-top: 23px;
    margin-bottom: 20px;
}

div.request-support-start {
    margin-top: -3px;
}

div.request-support-mandatory-field, div.request-support-invalid-field 
{
    margin-top: -5px;
    Font-family: "Segoe UI", Arial, Sans-Serif; 
    Font-size: 12px;
    color: #ED1C24;
}

div.request-support-checkbox-mandatory {
    margin-top: 0px;
}

.request-support-verification-code-step-info
{
    margin-top: 10px;
    margin-bottom: 20px;
}

.request-support-billing-info
{
    margin-top: 5px;
    margin-bottom: 20px;
}

.request-support-checkbox-body {
    margin-top: -10px;
    margin-bottom: 10px;
}

.request-support-checkbox-body input {
    position: relative;
    bottom: -1px;
    background-color: #fff;
}

.request-support-call-us-directly {
    position: absolute;
	z-index: 1000;
	width: 300px;
}

.request-support-call-us-directly-body 
{
    background-color: #000;
    color: #FFFFFF;
    padding-top: 14px;
    padding-left: 18px;
    padding-bottom: 15px;
    padding-right: 8px;
}

.request-support-call-us-directly-bottom {
    background: url(Images/tooltip_triangle.png) no-repeat 10px 0;
    height: 9px;
}

div#request-support-call-us-directly-close,
div#request-support-call-us-directly-close:link,
div#request-support-call-us-directly-close:visited  {
    display: inline-block;
	background: url(Images/close_dark_rest15x15.png) no-repeat;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 15px;
    height: 15px;
}

div#request-support-call-us-directly-close:hover {
    background: url(Images/close_dark_hover15x15.png) no-repeat;
    cursor: pointer;
    cursor: hand;
}

h1.request-support-title {
    margin-top: -1px;
}

div.request-support-subtitle {
    margin-top: 5px;
    margin-bottom: 17px;
    font-family: "Segoe UI", Arial, Sans-Serif; 
    font-size: 14px;
    color:#636468;
}

div#request-support-login-step, div#request-support-user-data-step, div#request-support-verification-code-step {
    margin-top: -13px;
}

div#request-support-login-step {
    margin-bottom: 14px;
}

div#request-support-user-data-step {
    margin-bottom: 20px;
}

div#request-support-verification-code-step {
    margin-bottom: 26px;
}

div#request-support-login-step h2 
{
    margin-bottom: 21px;
}

td.request-support-login-column2 p {
    margin-top: -4px;
}

input#request-support-firstname, input#request-support-lastname {
    margin-top: 4px;
    margin-bottom: 10px;
}

p#request-support-firstname, p#request-support-lastname {
    margin-top: -1px;
    margin-bottom: 14px;
}

input#request-support-email, input#request-support-phone-number, input#request-support-verification-code {
    margin-top: 3px;
    margin-bottom: 10px;
}

p#request-support-email {
    margin-top: -1px;
    margin-bottom: 4px;
}

div#request-support-description-step {
    margin-top: -12px;
    margin-bottom: 15px;
}

textarea#request-support-description {
    margin-top: 7px;
    margin-bottom: 10px;
}

td.request-support-login-column2 p, td.request-support-description-column2 p, td.request-support-start-column2 p {
    margin-left: -5px;
}

td.request-support-description-column2 p {
    margin-top: 2px;
}

input#request-support-submit {
    margin-top: -3px;
}

.request-support-start-column2 p {
    margin-top: -8px;
}

div#request-support-verification-code-step h2 
{
    margin-bottom: 20px;
}

p.request-support-description-note2 {
    font-family: "Segoe UI", Arial, Sans-Serif; 
    font-style: italic;
    font-size: 12px;
    color:#636468;
}

.hidden {
	visibility: hidden;
	display: none;
}

h2.request-support-thanks {
    margin-top: 0px;
    margin-bottom: 0px;
}

h4.request-support-thanks 
{
    margin-bottom: 0px;
    text-transform: none;
}

hr#request-support-thanks-hr {
    margin-top: 6px;
    margin-bottom: 8px;
}

hr#request-support-submission-details-hr {
    margin-top: 7px;
    margin-bottom: 13px;
}

hr#request-support-helpful-tips-hr {
    margin-top: 30px;
    margin-bottom: 7px;
}


div#request-support-submission-details {
    margin-top: 29px;
    margin-bottom: 0px;
}

table#request-support-submission-details-table {
    margin-left: -3px;
    color: #555555;
}

td.request-support-submission-details-column1 {
    vertical-align: top;
    width: 270px;
    padding: 0px;
}

td.request-support-submission-details-column1 span {
    color:#636468;
}

td.request-support-submission-details-column2 {
    vertical-align: top;
    width: auto;
    padding: 0px 0px 0px 8px;
}

td.request-support-submission-details-column2 span {
    color:#636468;
}

div#request-support-related-articles 
{
    margin-top: 35px;
    margin-bottom: 30px;
    clear: both;
}

div#request-support-related-articles-content {
    width: 905px;
    float:left;
    margin-bottom: 10px;
}

div#request-support-related-articles-icon {
   float: left; 
   height: 30px;
   width: 30px;
   margin: 0px 25px 0 0px;
   background: url('/Content/Images/info_static30x30.png') no-repeat scroll 0 0 transparent; 
}

div#request-support-related-articles-title {
    color: #231f20;
    font-family: "Segoe UI", Arial, Sans-Serif;
    font-size: 20px;
}

div#request-support-related-articles-list {
    margin: 0 0 0 16px;
    list-style: none;
} 

div#request-support-related-articles-list ul {
    margin-bottom: 0px;
}

div#request-support-related-articles-list ul li {
    list-style: none;
    margin: 0;
}

div#request-support-helpful-links-content {
    margin-top: -5px;
    margin-bottom: 0px;
}

div#request-support-helpful-links-content ul {
    list-style-position: inside;
    padding: 0;
}

div#request-support-submission-details span 
{
    color: #231f20;
}

/** Family page **/
.FamilyPageContent
{
    max-width: 1200px;
    width:100%;   
}

.FamilyPageContent h1
{
    margin: 0px 0px 0px 0px;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: normal;
    word-break: normal;
    text-overflow: ellipsis;
}

.FamilyPageContent h2
{
    margin-top: 5px;
    margin-bottom: 18px;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: normal;
    word-break: normal;
    text-overflow: ellipsis;
}

.FamilyPageContent h3
{
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: normal;
    word-break: normal;
    text-overflow: ellipsis;
}

.FamilyPageContent p
{
    margin: 0px 0px 12px 0px;
}

.FamilyAnchor
{
    border-bottom: 1px solid #BDBEC1;
}

.FamilyAnchorGroup
{
    padding-left: 200px;
    margin-bottom: 12px;
    margin-top: 23px;
}

.FamilyAnchor h2
{
    margin-bottom: 0px;
    margin-top: 9px;
}

.FamilyAnchorGroup p
{
    margin: 0px 0px 28px 0px;
}

.FamilyAnchorGroup a
{
    width: auto;
    margin-left: 10px;
    margin-bottom: 0px;
}

.FamilyPageIcon
{
    float:left;
    margin-top:8px;
}

div.FamilyPageIconText 
{
    margin-left: 39px;    
}

.FamilyPageIconText a
{
    white-space: nowrap;
    overflow: hidden;
    word-wrap: normal;
    word-break: normal;
    text-overflow: ellipsis;
}

div.FamilyPageLinkedText 
{
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: normal;
    word-break: normal;
    text-overflow: ellipsis;
}

div.FamilyPageDescriptionText 
{
    min-height: 20px;
    max-height: 40px;    
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ArticleTitle
{
    margin-top: 0px;
    margin-bottom: -3px;
    padding-bottom: 11px;
    word-wrap: normal;
    word-break: normal;
    border-bottom: 1px solid #BDBEC1;
}

.FamilyLinkSeparator
{
    border-bottom: 1px solid #E2E2E2;
    font-size: 0px;
    margin-bottom: 10px;
}

.FamilySubGroupContent
{
    padding-left: 200px;
}

.FamilySubGroupContentLink a
{
    white-space: nowrap;
    overflow: hidden;
    word-wrap: normal;
    word-break: normal;
    text-overflow: ellipsis;
}

/** end of family page**/

/** Assistance Module **/
.AssistanceContent
{
    padding-left: 200px;
    width: 755px;
}

.AssistanceOptionContent
{
    float:left;
    width: 195px;
}

.AssistanceSpacer
{
    float:left;
    width: 85px;
}

.AssistanceOptionContent a
{
    color: #107C10;
    Font-family: "Segoe UI", Arial, Sans-Serif; 
    Font-size: 18px;
    margin-bottom: 0px;
}

.AssistanceOptionContent Img
{
    margin-bottom: 9px;
    border: 1px;
    border-style:solid;
    border-color: #BDBEC1;
}

.AssistanceOptionContent p
{
    margin: 0px 0px 0px 0px;
    overflow:auto;
    white-space: normal;
}

.AssistancePopup
{
    display: none;
}

.AssistancePopup h2
{
    float: left;
    width: 675px;
    padding-top: 7px;
    margin-left: 7px;
    margin-bottom: 6px;
}

.AssistancePopup a
{
    float: right;
    margin-top: 7px;
    margin-right: 6px;
}

.AssistancePopupText
{
    margin-left: 7px;
    margin-bottom: 20px;
    margin-top: 0px;   
    border-top: 1px solid #BDBEC1;
    border-bottom: 1px solid #BDBEC1;
    float: left;
    width: 679px;
    padding: 16px 25px 17px 0px;
    color: #636468;
}

.AssistancePopupButtons
{
    float: right;
    margin-right: 6px;
    margin-bottom: 18px;
    width:auto;
}

.AssistancePopupButtons button:hover,
.AssistancePopupButtons button:focus,
.AssistancePopupButtons button:active,
.AssistancePopupButtons button:visited,
.AssistancePopupButtons button:link
{
    background-color: #4f9646;
}

div.AssistancePopupHide
{
    float:right;
    cursor:pointer;
    margin-right: 2px;
    margin-top: 2px;
    height: 15px;
    width: 15px;
}

div.AssistancePopupHideImage
{
    background-image: url('/Content/Images/close_rest15x15.png');
}

div.AssistancePopupHideImage:hover
{
    background-image: url('/Content/Images/close_hover15x15.png');
}

div.AssistancePopupHeader
{
    width : 723px;
}

.ui-widget
{
    color: #636468;
    font-family: "Segoe UI", Arial, Sans-Serif
    font-size: 14px;
}

.ui-widget button
{
    font-family: "Segoe UI", Arial, Sans-Serif;
    font-size: 12px;
}
.ui-widget button:focus
{
    background-color: rgb(119, 187, 68);
}
.ui-widget button:hover
{
    background-color: #4f9646;
}


#AssistanceModule h2 
{
    margin-bottom: -3px;  
}

/** end of assistance module **/

br {
    color: #BDBEC1;
}

/** Deflection Module **/

span.DeflectionModuleButton
{
    display: block;
    padding-bottom: 20px;       
}

div.FamilyGroupContainer
{
    margin-bottom: 23px;
}

.DeflectionModuleContainer
{
    margin-bottom: 40px;
    clear: both;
    visibility: hidden;
}

.ContactUS .DeflectionModuleContainer
{
    display: none;
}

.DeflectionModuleContent
{
   width: 905px;
   float:left;
   padding-bottom: 10px;
}

.DeflectionModuleAlertButton
{
   float: left; 
   height: 30px;
   width: 30px;
   margin: 0px 25px 0 0px;
   background: url('/Content/Images/alert_static30x30.png') no-repeat scroll 0 0 transparent;
}
 
 #Articles .DeflectionModuleAlertButton
 {
   background: url('/Content/Images/info_static30x30.png') no-repeat scroll 0 0 transparent;  
 }
 
.DeflectionModuleLink
{
   margin-left: 20px;
}

.GradientTopLeft
{
    background: url('/Content/Images/Deflection/top_left_corner.png') no-repeat; 
    width:25px; 
    height:20px; 
    float:left;
}

.GradientTopMiddle
{
    background: url('/Content/Images/Deflection/top_border.png') repeat-x; 
    width:905px; 
    height:20px; 
    float:left;
}

.GradientTopRight
{
    background: url('/Content/Images/Deflection/top_right_corner.png') no-repeat; 
    width:25px; 
    height:20px; 
    float:left;
}

.GradientLeftMiddle
{
    background: url('/Content/Images/Deflection/left_border.png') repeat-y; 
    width:25px; 
    float:left;
    padding-bottom: 10px;
}

.GradientRightMiddle
{
    background: url('/Content/Images/Deflection/right_border.png') repeat-y; 
    width:25px; 
    float:left;
    padding-bottom: 10px;
}

.GradientBottomLeft
{
    background: url('/Content/Images/Deflection/bottom_left_corner.png') no-repeat; 
    width:25px; 
    height:20px; 
    float:left;
}

.GradientBottomMiddle
{
    background: url('/Content/Images/Deflection/bottom_border.png') repeat-x; 
    width:905px; 
    height:20px; 
    float:left;
}

.GradientBottomRight
{
    background: url('/Content/Images/Deflection/bottom_right_corner.png') no-repeat; 
    width:25px; 
    height:20px; 
    float:left;
}

div.DeflectionText
{
    margin: 35px 0 0 10px; 
}

span.DeflectionText
{
    margin: 10px 0 0 10px; 
    float:left;
}

a.DeflectionButtonLink,
a.DeflectionButtonLink:link,
a.DeflectionButtonLink:visited,
a.DeflectionButtonLink:hover {
	display: inline-block;
	padding: 0.5em 1.5em;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	background: #76b900;
	margin-top: 5px;
    margin-bottom: 5px;
	float: left;
}

a#DeflectionButtonLink
{
    margin-top: 30px;
}

/**
home page
**/
h1.HomePageModular
{
    margin-bottom: 10px;
}

h2.Announcements
{
    margin: 0px;
    margin-top: 8px;
    padding: 0px;
}

table.HomePageModular
{
    border-collapse: collapse;
}

td.HomePageModularLeftContent
{
    width: 715px;
    min-width: 715px;
    max-width: 715px;
    vertical-align: top;
}

td.HomePageModularRightContent
{
    width: 240px;
    vertical-align: top;
}

div.AnnouncementsModuleLiner
{
    border-color: #BDBEC1 ;
    border-right: 0 none;
    border-style: solid none none; 
    border-width: 1px 0 0;
}

div.Announcements
{
    padding: 0px;
}

div.AnnouncementsLinkList
{
    margin-top: 19px;
    margin-left: 200px;
    margin-bottom: 1px;
    padding-right: 10px;
    width:505px
}

div.AnnouncementsLink
{
    margin: 0px;
    width: 505px;
    height: 20px;
    white-space: nowrap;
    word-wrap: normal;
    word-break: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.HomePageContent
{
    margin-top: 15px;
}

h2.HomePageContent
{
    margin: 0px;
    margin-top: 6px;
    padding: 0px;
    width: 620px;
}

div.HomePageContentModuleLiner
{
    border-color: #BDBEC1 ;
    border-right: 0 none;
    border-style: solid none none; 
    border-width: 1px 0 0;
}

div.HomePageContentLinkList
{
    margin-top: 20px;
    margin-left: 200px;   
    width: 505px;
    padding-right: 10px;
}

div.HomePageContentLink
{
    margin: 0px;
    width: 505px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: normal;
    word-break: normal;
    text-overflow: ellipsis;
}

div.HomePageContentViewAll 
{
    float: right;
    margin-top: 14px;
    background-image: url('/Content/Images/arrow_static15x15.png');
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
}

div.HomePageContentViewAll a
{
    margin-right: 24px;
}

div.ContactUsModule
{
    margin-left: 42px;
}

div.ContactUsModule img 
{
    width: 193px;
    height: 108px;
    margin-bottom: 10px;
    border: 1px;
    border-style:solid;
    border-color: #BDBEC1;
}

div.ContactUsModule div
{
    margin-bottom: 25px;
    width: 193px;
}

div.ContactUsModule h2
{
    width: 195px;
    height: 28px;
    overflow: hidden;
}

div.HomePageRightBoxModule
{
    margin-left: 42px;
}

div.HomePageRightBoxModule img
{
    width: 193px;
    height: 108px;
    margin-bottom: 10px;
    border: 1px;
    border-style:solid;
    border-color: #BDBEC1;
}

div.HomePageRightBoxModule div
{
    margin-bottom: 31px;
    width: 193px;
}

div.HomePageRightBoxModule h2, div.HomePageRightBoxModule h2
{
    width: 195px;
    height: 28px;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: normal;
    word-break: normal;
    text-overflow: ellipsis;
}

/**
Browse page
**/

.BrowseTitle
{
    margin-top: 0px;
    padding-bottom: 11px;
}

.BrowseLeftNav ul
{
    padding-left: 0px;
    margin-top:0px;
}

.BrowseServices
{
    padding-bottom: 30px;
}

.BrowseServices ul
{
    padding-left: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.BrowseServices li {
    padding-left: 10px;
    text-indent: -10px;
}
.BrowseLeftNav ul li 
{
    list-style-type: none;
    margin-left: 0;
    list-style-position: outside;
}

.BrowseLeftNav
{
    width: 190px; 
    float: left
}

.BrowsePreviewsContent
{
    float: left;
    margin-left: 10px;
    /*width:755px;*/
}

.BrowsePreview
{
    width: inherit; 
    margin-bottom: 20px;
}

.BrowsePreviewImage
{
    width: 193px; 
    margin-bottom: 20px;
    margin-right: 20px;
    border: 1px solid #BDBEC1;
    margin-top: 5px;
}

.BrowsePreviewTitle
{
    width: inherit;
    margin-bottom: 1px;
}

.BrowseLoadingImage
{
    display: block; 
    margin-left: auto; 
    margin-right: auto;

}
/**
 * Walkthrough template page
 */
div#walkthrough_area ul#walkthrough_nav li a
{
    width: 313px;
    height: 39px;           
    padding: 0px 42px 0 9px;
    margin-bottom: 4px;
    display: table-cell;
    overflow: hidden;
    vertical-align: middle;
    text-decoration: none;
    font-size: 10pt;
    font-weight: bold;
    outline: none;
}
div#walkthrough_area ul#walkthrough_nav li a:HOVER, 
div#walkthrough_area ul#walkthrough_nav li.visited a:HOVER
{
    text-decoration: underline;
}
            
div#walkthrough_area ul#walkthrough_nav li.visited
{
            
}
    div#walkthrough_area ul#walkthrough_nav li.visited a
    {
        color: #bdbec0;
    }

div#walkthrough_area div#left_nav_content
{
}
	div#walkthrough_area div#left_nav_content div#left_nav_content_title
	{
	    font-size: 10pt; 
	    font-weight: bold; 
	    color: #979797;
	}       
	    
div.walkthrough_content a.next,
div#walkthrough_area div#content_area a.next
{
    width: 170px;
    height: 24px;           
    padding: 6px 0 0 12px;
    margin: 0 0 9px 440px;
    display: block;
    overflow: hidden;
    font-size: 11pt;
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
div#walkthrough_area div.clear
{
    clear: both;
    overflow: hidden;
    height: 1px;
}

div#walkthrough_area div#walkthrough_title
{
	margin-bottom: 14px;
	vertical-align: middle;
}

    div#walkthrough_area div#walkthrough_title img
    {
	    vertical-align: middle;
	    margin-right: 5px;
    }
    div#walkthrough_area div#walkthrough_title h1
    {
	    font-size: 20px;
	    color: #666666;
	    vertical-align: middle;
	    display: inline;
	    margin-left: 3px;
    }

div#walkthrough_area table,
div#walkthrough_area table tr,
div#walkthrough_area table tr td
{
    padding: 0;
	margin: 0;
}
    
div#walkthrough_area table tr td#left_content
{
    vertical-align: top;
    width: 315px;
}

div#walkthrough_area table tr td#right_content
{
	vertical-align: top;
	width: 635px;
}
 
div#walkthrough_area ul#walkthrough_nav
{
    list-style: none;
    padding: 10px 0 5px 0;
    margin: 0;
}
    div#walkthrough_area ul#walkthrough_nav li
    {	
    	margin-left: 0;        
    }
    
/** left nav **/
div#walkthrough_area div#left_nav
{
    width: 313px;
    display: block;
    overflow: hidden;
    padding-bottom: 10px;
}
div#walkthrough_area div#left_nav div.line_above
{
    margin-top: 2px;
    height: 1px;
    width: 100%;
    display: block;
    overflow: hidden;
	background-color: #BDBEC0;
}
div#walkthrough_area div#left_nav div.line_below
{
    height: 1px;
    width: 100%;
    display: block;
    overflow: hidden;
	background-color: #BDBEC0;
}

div#walkthrough_area .walkthrough-spacer
{
    width: 0px;
    padding-left: 5px;
}

/** Right Content Area**/

div#BodyContent 
{
	overflow: hidden;
}

div#walkthrough_area div#right_content_inside
{
    margin-right: 5px;
    padding: 0px 0 0 10px;
    width : 622px;
    overflow : hidden;
}

div.walkthrough_content hr,
div#walkthrough_area div#right_content_inside hr
{
	border-top: 1px solid #e6e6e6;
	margin-top:1px;
	height: 0px;
	width: 580px;
}
    div#walkthrough_area div#right_content_inside div#walkthroughWebPartZoneContainer
    {
    }
   


    div.walkthrough_content hr,
   	div#walkthrough_area div#content_area hr
   	{
   	    width: 100%;
   	}
   	div#walkthrough_area div#content_area h1,
   	div#walkthrough_area div#content_area h2
    {
        margin-top: 0px;
        color: #666666;
        font-size: 16px;
        font-weight: bold;
    }
    
    div#walkthrough_area div#content_area h3
    {
		margin-top: 0px;
        color: #666666;
        font-size: 16px;
        font-weight:bold;
	}
  
    div#walkthrough_area div#content_area img
    {
		width:auto;
	}
  
    div#walkthrough_area div#content_area table
    {
		table-layout:auto;
		border: none;
    }
    
    div#walkthrough_area div#content_area td
    {
		table-layout:auto;
		border: none;
    }


/**
Drop down menu
**/

.DropDownTop
{
    width: 145px; 
    height: 25px; 
    padding:0px 10px 0 10px;
    margin-top:10px;
    cursor:pointer;
    font-size: 14px;
    white-space: nowrap;
}

.DropDownTopSelect
{
    background: none repeat scroll 0 0 #E2E2E2;
    color: #231f20;
}

.DropDownTopNoSelect
{
    background: none repeat scroll 0 0 #107C10;
    color: #FFFFFF;
    font-style: italic;
}

.DropDownOptions
{
    background: none repeat scroll 0 0 #E2E2E2; 
    display: none;
    cursor:pointer;
    padding: 0 0 10px 0;
    margin-top:1px;
    margin-left:0px;
    min-width: 165px;
    position:absolute; 
    z-index:500;
}

.DropDownOptions li 
{
    list-style-type: none;
    margin-left: 0px;
    list-style-position: outside;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
}



ul.SubDropDownOptions
{
    background-color: #E2E2E2;
    font-size: 12px;
    margin-top: -22px;
    padding-left: 0px;
    position: absolute;
    width: 100%;
    z-index: 1001;
    visibility: hidden;
}

ul.ContactUs
{
    margin-left: 265px;
}
ul.Browse
{
    margin-left: 155px;
}



ul.SubDropDownOptions li
{
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 5px;
    margin-top: 0px;
}

.MenuElementHover
{
    color: #231f20;
    background-color: #DDDDDD;

}

.MenuElementOut
{
    color: #636468;
    background-color: #E2E2E2;
}

.MenuElementSelected
{
    color: #231f20;
    background-color: #E2E2E2;
}

.MenuElementHover
{
    color: #231f20;
    background-color: #DDDDDD;
}

.DropDownArrow
{
    width:8px; 
    height:4px; 
    float: right; 
    margin-top: 10px;
}

.SubDropDownOptionTitle 
{
    padding-left: 10px;
}

.SubDropDownArrow
{
    width:8px; 
    height:8px; 
    float: right; 
    margin-top: 7px;
    margin-right: 10px;
}
.SubDropDownArrowSelect
{
    background: url('/Content/Images/browse_right_black_triangle12x12.png') no-repeat scroll center center transparent; 
}

.SubDropDownArrowNoSelect
{
    background: url('/Content/Images/browse_right_grey_triangle12x12.png') no-repeat scroll center center transparent; 
}

.DropDownArrowSelect
{
    background: url('/Content/Images/dropdown_black_triangle12x12.png') no-repeat scroll center center transparent; 
}

.DropDownArrowNoSelect
{
    background: url('/Content/Images/dropdown_white_triangle12x12.png') no-repeat scroll center center transparent; 
}

.DropDownTopSelectedText
{
    width:127px;
    height: 25px;
    float:left;
    overflow: hidden;
    white-space: nowrap;
    height: 20px;
    margin-top: 2px;
}

div#article-heading 
{
	min-height: 40px;
	margin-bottom: 7px;
	margin-top: 7px;
	margin-left: 2px;
}
div#article-picture
{
    float:left;
    padding-top: 13px;
}
div#article-title
{
    margin-left:50px;
}
    div#article-title h1
    {
        margin: 0;
        padding-top: 7px;
    }
    div#article-title p
    {
        padding: 3px 0 0 3px;
        margin: 0;
    }
    
/*** Wizard page css ***/
.wizard_container
{
	width:880px;
	height: 2100px;
	margin: 10px 0px 0px 0px;
    padding-left: 0;
    vertical-align: baseline;
    overflow: hidden;
    top: 0px;
}
.wizard_content
{
	width: 100%;
	height: 2100px;
}
.wizard_article_title
{
	position:relative;
	background-color:rgb(255,255,255);
	height:67px;
	top:-2101px;
	left:0px;
}

.wizard_article_title #article-heading
{
    margin-top: 0px;
}
iframe 
{
	overflow: hidden;
}

/*** Status Page ***/

div.StatusModuleLiner
{
    border-color: #BDBEC1 ;
    border-right: 0 none;
    border-style: solid none none; 
    border-width: 1px 0 0;
    margin-top: 11px;
}

div.ReddahLiveStatus h2, div.AppsStatus h2
{
    margin-top: 9px;
    margin-bottom: 5px;
}

div.StatusOK
{
    background-color: #F2F2F2;
    margin-left: 200px;
    height:39px;
    min-height: 39px;
    max-height: 39px;
    line-height: 38px;
    border-left:  #107C10 2px solid;
    color: #231f20;
    padding-left: 8px;
    margin-bottom: 10px;
}

div.StatusOKText
{
    background-image: url('/Content/Images/running_static25x25.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 33px;
}

div.StatusUnknow
{
    background-color: #F2F2F2;
    margin-left: 200px;
    height:39px;
    min-height: 39px;
    max-height: 39px;
    line-height: 38px;
    border-left:  #BDBEC1 2px solid;
    color: #231f20;
    padding-left: 8px;
    margin-bottom: 10px;
}

div.StatusUnknowText
{
    background-image: url('/Content/Images/unknown_static25x25.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 33px;
}

div.StatusKO
{
    background-color: #F2F2F2;
    min-height: 39px;
    margin-left: 200px;
    border-left:  #FBB040 2px solid;
    color: #231f20;
    padding-left: 8px;
    margin-bottom: 10px;
}

div.StatusKOTitle
{
    background-image: url('/Content/Images/warning_static25x25.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 33px;
    height:39px;
    min-height: 39px;
    max-height: 39px;
    line-height: 38px;
}

div.StatusKOText
{
    margin-left: 34px;
    margin-top: -5px;
    padding-bottom: 10px;
}

.error-bar
{
    height: auto;
    background-color: #ED1C24;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
}

.error-bar .icon
{
	background-image: url(/Content/Images/ReddahCom_Icons.png);
	background-repeat: no-repeat;
    background-position: -10px -280px;
    margin: 5px 15px 0px 15px;
    float: left;
    width: 26px;
    height: 25px;
}

.error-bar .message a {
    font-size: 14px;
    font-weight: bold;
    color: inherit;
    text-decoration: underline;
}

.error-bar .message {
    height: auto;
    padding-top: 10px;
    padding-left: 56px;
    padding-bottom: 10px;
}

.request-support-error-bar {
    margin-top: 11px;
    margin-bottom: 10px;
}

.request-support-congrats-error-bar {
    margin-top: 11px;
    margin-bottom: 15px;
}

div#request-support-user-phone-number-note {
    margin-bottom: 24px;
}

.contact-us-error-bar {
    margin-top: 18px;
    margin-bottom: -3px;
}

.contact-us-warning-bar 
{
    margin-top: 18px;
    margin-bottom: -3px;
    background-color: #FAAF40;
}

/** Application status module **/
div.StatusModuleKOTitle
{
    background-image: url('/Content/Images/alert_static30x30.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 53px;
    margin-top: -5px;
    height:39px;
    min-height: 39px;
    max-height: 39px;
    line-height: 38px;
    color: #231f20;
    font-family: "Segoe UI", Arial, Sans-Serif;
    font-size: 20px;
}

div.StatusModuleOKTitle
{
    background-image: url('/Content/Images/running_static30x30.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 53px;
    margin-top: -5px;
    height:39px;
    min-height: 39px;
    max-height: 39px;
    line-height: 38px;
    color: #231f20;
    font-family: "Segoe UI", Arial, Sans-Serif;
    font-size: 20px;
}

div.StatusModuleUnknowTitle
{
    background-image: url('/Content/Images/alert_static30x30.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 53px;
    margin-top: -5px;
    height:39px;
    min-height: 39px;
    max-height: 39px;
    line-height: 38px;
    color: #231f20;
    font-family: "Segoe UI", Arial, Sans-Serif;
    font-size: 20px;
}

div.StatusModuleText
{
    margin-left: 54px;
    margin-top: -5px;
    padding-bottom: 10px;
}

table.AppStatusModule
{
    max-width: 1200px;
    width:100%;   
    border: none;
    border-width: 0px;
    border-style: none;
    border-spacing: 0px;
    table-layout: fixed;
    margin-top: 11px;
    margin-bottom: 9px;
}

table.AppStatusModule tr
{
    border: none;
    border-width: 0px;
    border-style: none;
}

td.LeftTopStatusModule
{
    background: url('/Content/Images/Deflection/top_left_corner.png'); 
    background-position: right;
    background-position: bottom;
    background-repeat: no-repeat;
    width:23px;
    height: 20px;
    border: none;
    border-width: 0px;
    border-style: none;
    border-spacing: 0px;

}

td.CenterTopStatusModule
{
    background: url('/Content/Images/Deflection/top_border.png');
    background-repeat: repeat-x;
    background-position: bottom;
    width: 900px;
    border: none;
    border-width: 0px;
    border-style: none;
    border-spacing: 0px;
}

td.RightTopStatusModule
{
    background: url('/Content/Images/Deflection/top_right_corner.png'); 
    background-position: left;
    background-position: bottom;
    background-repeat: no-repeat;
    width:23px;
    height: 20px;
    border: none;
    border-width: 0px;
    border-style: none;
    border-spacing: 0px;
}

td.LeftBottomStatusModule 
{
    background: url('/Content/Images/Deflection/bottom_left_corner.png'); 
    background-position: right;
    background-position: top;
    background-repeat: no-repeat;
    width:23px;
    height: 20px;
    border: none;
    border-width: 0px;
    border-style: none;
    border-spacing: 0px;
}

td.CenterBottomStatusModule
{
    background: url('/Content/Images/Deflection/bottom_border.png');
    background-repeat: repeat-x;
    background-position: top;
    width: 900px;
    border: none;
    border-width: 0px;
    border-style: none;
    border-spacing: 0px;
}

td.RightBottomStatusModule
{
    background: url('/Content/Images/Deflection/bottom_right_corner.png'); 
    background-position: left;
    background-position: top;
    background-repeat: no-repeat;
    width:23px;
    height: 20px;
    border: none;
    border-width: 0px;
    border-style: none;
    border-spacing: 0px;
}

td.LeftMiddleStatusModule
{
    background: url('/Content/Images/Deflection/left_border.png') repeat-y; 
    background-position: right;
    width:23px;
    border-width: 0px;
    border-style: none;
}

td.RightMiddleStatusModule
{
    background: url('/Content/Images/Deflection/right_border.png') repeat-y; 
    background-position: left;
    width:23px;
    border-width: 0px;
    border-style: none;
}

/** KB article **/
.kb .section h2.subTitle span a, div.sbody a, div#kb_expandcollapseall a
{
    font-weight: normal;
}

.kb .section h2.subTitle
{
    margin-bottom: 7px;
}

div#kb_expandcollapseall
{
    margin-bottom: 7px;
}

.LoadingAnimation50
{
    background: #FFF url(/Content/images/loading_50x50.gif) no-repeat center center;
    height: 50px;
    width: 50px;
}

input[type="radio"], input[type="checkbox"] 
{
    padding: 0 0 0 0;
    border: none;
}

textarea, select, input
{
	color: #636468;
	padding: 0 10px 0 10px;
	border: 1px solid #BDBEC0;
}

/** Error Code Search **/
.ErrorCodeSearchResult
{
    max-width: 1200px;
    width:100%;   
    border-top: 1px solid #BDBEC0;
    padding-top: 15px;
    visibility: hidden;
}

.ErrorCodeSearchPageTitleArea
{
    border-bottom: 1px solid #BDBEC0;
    padding-bottom: 15px;
}

.ErrorCodeSearchPageTitleArea h1
{
    padding-bottom: 5px;
}

.ErrorCodeSearchTopErrorsArea
{
    padding-top: 5px;
    padding-bottom: 30px;    
}

.ErrorCodeSearchTopErrorsArea h2
{
    padding-bottom: 20px;    
}

.ErrorCodeSearchInputField
{
    width: 425px;
    height: 20px;
    padding: 0px 5px 0px 5px;
    margin: 10px 6px 0px 0px;
}

.ErrorCodeSearchButton
{
    height: 20px;
    margin: 0px 0px 3px 0px;
    padding: 0px;
    vertical-align: middle;
}

div.ServicesEdit 
{
    margin-top: 12px;
    margin-bottom: 26px;    
}

div.AddressStepNote 
{
    margin-top: 5px;
    float: left;
}

span.AddressStepNoteLabel 
{
    font-style: italic;  
    font-weight: bold;  
}

span.AddressStepNoteText 
{
    font-style: italic;    
}

div.ReviewAddressMessage 
{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

a, a:visited {
    color: #76BB44;
    font-weight: normal;
    text-decoration: none;
}

/* Multi Language Module Start */
.CallLanguageOptions,
.ChatLanguageOptions {
    margin: 20px 25px 20px 7px;  
}

.CallLanguageHeader,
.ChatLanguageHeader {
    height: 41px;
    width: 100%;
    border-bottom: 1px solid #BDBEC1;
}

.CallLanguageMessage,
.ChatLanguageMessage {
    width: 100%;
}

.CallLanguageOptionLink,
.ChatLanguageOptionLink {
    font-family: 'Segoe UI',Arial,Sans-Serif;
    font-size: 14px;
}

.CallLanguageOptionItem,
.ChatLanguageOptionItem {
    margin: 10px 0;
}

.CallLanguagePopup,
.ChatLanguagePopup {
    display: none;
}


.CallLanguagePopup h2,
.ChatLanguagePopup h2 {
    float: left;
    width: 675px;
    padding-top: 7px;
    margin-left: 7px;
    margin-bottom: 6px;
}

.CallLanguagePopup a,
.ChatLanguagePopup a {
    margin-top: 7px;
    margin-right: 6px;
}

.CallLanguagePopupText,
.ChatLanguagePopupText
{
    margin-left: 7px;
    margin-bottom: 20px;
    margin-top: 0px;   
    border-top: 1px solid #BDBEC1;
    border-bottom: 1px solid #BDBEC1;
    float: left;
    width: 679px;
    padding: 16px 25px 17px 0px;
    color: #636468;
}

div.CallLanguagePopupHide,
div.ChatLanguagePopupHide
{
    float:right;
    cursor:pointer;
    height: 15px;
    width: 15px;
}

.ChatLanguageOptionText,
.CallLanguageOptionText {
    margin-top: 12px;
    padding-bottom: 5px;
    color: #636468;
    font-family: 'Segoe UI',Arial,Sans-Serif;
    font-size: 14px;
}

div#ChatChangeLocale,
div#CallChangeLocale {
    margin-top: 10px;
}

/* End Module */

/* SmartGlass Header */
.jumptarget:before {
  content:"";
  display:block;
  height:50px; 
  margin:-50px 0 0;
}