.swiper-container3 {
    width: 100%;
    height: 100%;
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.swiper-slide{
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 0 30px;
}

.muskdemo0{
    background-color: lightgray;
}

.muskdemo1{
    background-color: royalblue;
}

.muskdemo2{
    background-color: deepskyblue;
}

.muskdemo3{
    background-color: coral;
}

.unlock{
    background:white !important;
}


.level-list {
    position: absolute;
    background: #EEE;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    list-style: none;
    padding: 10px;
    z-index: 3;
    
    left: -100%;
    transition: left 0.2s;
}


.levels {
    display: none;
}


.lock-img{
    width: 40px;
}

.level-list__item {
    display: inline-block;
    background: #DDD;
    margin: 10px 5px;
    padding: 10px;
    width: 65px;
    height: 65px;
    text-align: center;
    border-radius: 10px;
    position: relative;
}
.level-list__item__number {
    font-size: 30px;
    line-height: 35px;
    z-index: 10;
}
.level-list__item__blurb {
    position: absolute;
    bottom: -10px;
    display: flex;
    font-size: 18px;
    margin-left: -2px;
}
.my-demo-box{
    transform: scale(0.6) translateX(-25%) translateY(-25%); 
    position:fixed;width:inherit;height:inherit;
}
.levelstar{
    width:20px;height: 20px;z-index:10;
}
  
@media all and (orientation: portrait) and (min-width: 700px) {
    .level-ol-box{
        margin:100px 30px; padding:0; text-align: left;
    }
    .level-list__item {
        display: inline-block;
        background: #DDD;
        margin: 15px 10px;
        padding: 10px;
        width: 140px;
        height: 140px;
        text-align: center;
        border-radius: 10px;
        position: relative;
    }
    .level-list__item__number {
        font-size: 55px;
        line-height: 80px;
    }
    .level-list__item__blurb {
        position: absolute;
        bottom: -20px;
        display: flex;
        font-size: 32px;
        transform: translateX(13px);
        margin-left: -2px;
    }

    .my-demo-box{
        transform: scale(0.6) translateX(-10%) translateY(-15%); 
        position:fixed;width:inherit;height:inherit;
    }
    .levelstar{
        width:35px;height: 35px;z-index:10;
    }

    .lock-img{
        vertical-align: -webkit-baseline-middle; 
        width: 75px;
    }
}

@media all and (orientation: landscape) and (min-width: 700px) and (min-height: 500px) {
    .level-ol-box{
        margin:100px 30px; padding:0; text-align: left;
    }
    .level-list__item {
        display: inline-block;
        background: #DDD;
        margin: 15px;
        padding: 10px;
        width: 120px;
        height: 120px;
        text-align: center;
        border-radius: 10px;
        position: relative;
    }
    .level-list__item__number {
        font-size: 45px;
        line-height: 60px;
    }
    .level-list__item__blurb {
        position: absolute;
        bottom: -20px;
        display: flex;
        font-size: 32px;
        transform: translateX(13px);
        margin-left: -15px;
    }

    .my-demo-box{
        transform: scale(0.6) translateX(-15%) translateY(-15%); 
        position:fixed;width:inherit;height:inherit;
    }
    .levelstar{
        width:35px;height: 35px;z-index:10;
    }
    .lock-img{
        vertical-align: -webkit-baseline-middle; 
        width: 75px;
    }
}
