<div class="sudo-box">
  <!--
    <div id='pencontainer'>
        <canvas width="90" height="90" id="canvaspen" class="canvaspen"></canvas>
        <div class='button-container'>
            <button (click)="recognize()">recognize</button>
            <button (click)="clear_canvas()">clear</button>   
        </div>
    </div>-->
    <div id="sudoku_container" >
    </div>
</div>

<audio id="wow" src="/assets/sound/wow.mp3" preload="auto"></audio>


<div class="headerContentRight">
    <ion-icon class="surface-button" name="finger-print-outline" *ngIf="!isPencil" color="dark" (click)="togglePencil()"></ion-icon>
    <ion-icon class="surface-button" name="pencil-outline" *ngIf="isPencil" color="dark" (click)="togglePencil()"></ion-icon>
</div>

<div class="headerDebugContentRight" *ngIf="isDebug">
    <div style="color:black;" *ngFor="let item of myresults;index as i">{{item.id}}  {{parseItem(item.value*10000)}}</div>
</div>

<div class="footerContentLeft">
  <ion-icon class="surface-button" name="arrow-undo-outline" color="dark" (click)="close()"></ion-icon>
</div>
<div class="footerContentRight4" style="display:flex;flex-direction:column;">
    <div class="title" *ngIf="task">
      <span style="color: green; font-size:23px;" 
        *ngIf="task.mytime!=99999&&task.mytime!=99998">
        {{reddah.instant("Best")}}
      </span>
    </div>
    <div class="title" *ngIf="task">
      <span style="color: green; font-size:23px;"
        *ngIf="task.mytime!=99999&&task.mytime!=99998">
        {{getBest(task.mytime)}}
      </span>
    </div>
    <div class="title">
      <span class="time" style="color: black; font-size:23px;">
        {{fix(this.secondsElapsed/60,2)}}:{{fix(this.secondsElapsed%60,2)}}
      </span>
    </div>
</div>