.portrait {
    width: 40px; 
    height: 40px; 
    margin: 5px; 
    border-radius: 3px;
}

.user404{    
    padding: 20px;
    background-color: var(--ion-background-color);
}

.desc{
    margin-top: 5px;
}

.chip-box-header{
    margin-left: 5px;
}

.chip-box{
    margin:15px 5px;
}

.chip-gap{
    margin:5px;
}