
<ion-item>

  <ion-button (click)="save()">
    <ion-icon name="save-outline" ></ion-icon>
  </ion-button>

  <ion-button (click)="load()">
    <ion-icon name="cloud-download-outline"></ion-icon>
  </ion-button>

  <ion-text style="margin:0 15px;">|</ion-text>

  <ion-button (click)="clear()">
    <ion-icon name="refresh-outline" ></ion-icon>
  </ion-button>

  <ion-button (click)="play()" *ngIf="!isPlay">
    <ion-icon name="play-outline"></ion-icon>
  </ion-button>

  <ion-button (click)="stop()" *ngIf="isPlay">
    <ion-icon name="stop"></ion-icon>
  </ion-button>

  <ion-text style="margin-left: 30px;">{{speed}}</ion-text>
  <ion-range min="20" max="500" step="1" [(ngModel)]="speed" snaps="true" tick="true"
        color="primary"></ion-range>

</ion-item>

<ion-item *ngIf="!hideActionBar">
  <ion-text style="margin-right:15px;">Accidentals</ion-text>
  <ion-button (click)="accidental('sharp')" [disabled]="lastTarget==null">
    #
  </ion-button>
  <ion-button (click)="accidental('flat')" [disabled]="lastTarget==null">
    b
  </ion-button>
  <ion-button (click)="accidental('2flat')" [disabled]="lastTarget==null">
    bb
  </ion-button>
  <ion-button (click)="accidental('nature')" [disabled]="lastTarget==null">
    ♮
  </ion-button>
  <ion-button (click)="accidental('accent')" [disabled]="lastTarget==null">
    X
  </ion-button>

  <ion-text style="margin:0 15px;">|</ion-text>

  <ion-button (click)="move(-1)" [disabled]="lastTarget==null">
    <ion-icon name="chevron-down-outline"></ion-icon>
  </ion-button>
  <ion-button (click)="move(1)" [disabled]="lastTarget==null">
    <ion-icon name="chevron-up-outline"></ion-icon>
  </ion-button>

  <ion-text style="margin:0 15px;">|</ion-text>


  <ion-button (click)="deleteLastNote()" [disabled]="lastTarget==null">
    delete last note
  </ion-button>

  <ion-button (click)="addBar()">
    add Bar
  </ion-button>

</ion-item>
<ion-item *ngIf="!hideActionBar">
  <ion-text style="margin-right:15px;">Duration</ion-text>
  <ion-button (click)="addNote(n)" *ngFor="let n of [1,2,4,8,16,32,64]">
    <ion-icon src="{{'/assets/icon/note'+n+'.svg'}}"></ion-icon>
  </ion-button>

  <ion-text style="margin:0 15px;">|</ion-text>


  <ion-button (click)="dot()" [disabled]="lastTarget==null">
    ·
  </ion-button>

  <ion-button (click)="tie()" [disabled]="lastTarget==null">
    <ion-icon src="/assets/icon/tie.svg"></ion-icon>
  </ion-button>

  <ion-text style="margin:0 15px;">|</ion-text>

  <ion-button (click)="addRest(r)" *ngFor="let r of ['r1','r2','r4','r8','r16','r32','r64']">
    {{r}}
  </ion-button>
</ion-item>

<ion-item *ngIf="!hideActionBar">
  <ion-text style="margin-right:15px;">Chord</ion-text>
  <div *ngIf="lastTarget!=null">
    <ion-button (click)="addChord()" *ngIf="isUnderTurnAroundNoteKey()"
    [disabled]="lastTarget==null||lastTarget.tag!='note'||lastTarget.chord!=null">
      +1
    </ion-button>
    <ion-button (click)="addChord()" *ngIf="!isUnderTurnAroundNoteKey()"
    [disabled]="lastTarget==null||lastTarget.tag!='note'||lastTarget.chord!=null">
      -1
    </ion-button>
  </div>
  <ion-button (click)="clearChord()"
    *ngIf="lastTarget!=null&&lastTarget.chord!=null">
    <ion-icon name="trash-outline"></ion-icon>
  </ion-button>

  <ion-text style="margin:0 15px;">|</ion-text>

  <ion-text style="margin-right:15px;">Mark</ion-text>
  <ion-button (click)="setFinger(number)" [disabled]="lastTarget==null" *ngFor="let number of [1,2,3,4,5]">
    {{number}}
  </ion-button>
  <ion-button (click)="clearFinger()" [disabled]="lastTarget==null">
    <ion-icon name="trash-outline"></ion-icon>
  </ion-button>

  <ion-text style="margin:0 15px;">|</ion-text>
  
  <ion-button (click)="setPause()" [disabled]="lastTarget==null">
    <ion-icon size="large" src="/assets/icon/fermata.svg"></ion-icon>
  </ion-button>

</ion-item>

<ion-content [fullscreen]="true">

  <div style="height: 100px;border:1px solid gray;"
    (click)="hideActionBarVisibility()">
    title
  </div>

  <div id="playboard" style="display:flex;flex-wrap: nowrap;overflow-x:auto;padding-left:15px;">

    <div style="display: flex;flex-direction:column;">
      <div class="action-bar-header"><ion-item lines="none" [class.hide-action-bar]="hideActionBar"></ion-item></div>
      <canvas id="startT" [class.debug-grid]="showGrid"></canvas>
      <canvas id="startB" [class.debug-grid]="showGrid"></canvas>
    </div>


    <div style="display: flex;flex-direction:column;" *ngFor="let canvas of canvasBox[0];index as i">
      <div class="action-bar-header">
        <ion-item [class.hide-action-bar]="hideActionBar" style="--padding-start:0;--inner-padding-end:0;--background:rgb(238,238,238, 0.8);" lines="none">
            <ion-text style="margin:0 5px;">{{i+1}}</ion-text>
            <ion-icon color="dark" name="add-outline" (click)="insertBar(i)"></ion-icon>  
            <ion-icon name="copy-outline"></ion-icon>
            <ion-icon style="margin:0 5px" name="remove-circle-outline" slot="end"></ion-icon>    
        </ion-item>
      </div>
      <canvas (click)="showActionBarVisibility(0, i)" id="{{'t'+canvas.id}}" [class.debug-grid]="showGrid"></canvas>
      <canvas (click)="showActionBarVisibility(1, i)" id="{{'b'+canvas.id}}" [class.debug-grid]="showGrid"></canvas>
    </div>

    <div style="display: flex;flex-direction:column;">
      <div class="action-bar-header">
        <ion-item [class.hide-action-bar]="hideActionBar" style="--padding-start:0;" lines="none">
            <ion-icon color="dark" name="add-outline" (click)="addBar()"></ion-icon>   
        </ion-item>
      </div>
      <canvas id="endT" [class.debug-grid]="showGrid"></canvas>
      <canvas id="endB" [class.debug-grid]="showGrid"></canvas>
    </div>
    
  </div>
    
</ion-content>





<ion-item>
  <div *ngFor="let canvas of this.canvasBox">{{canvas.note}}</div>
</ion-item>
