<ion-item>
  <ion-text style="margin-right:15px;">Accidentals</ion-text>
  <ion-button (click)="accidental('sharp')" [disabled]="lastTarget==null">
    #
  </ion-button>
  <ion-button (click)="accidental('flat')" [disabled]="lastTarget==null">
    b
  </ion-button>
  <ion-button (click)="accidental('2flat')" [disabled]="lastTarget==null">
    bb
  </ion-button>
  <ion-button (click)="accidental('nature')" [disabled]="lastTarget==null">
    ♮
  </ion-button>
  <ion-button (click)="accidental('accent')" [disabled]="lastTarget==null">
    X
  </ion-button>

  <ion-text style="margin:0 15px;">|</ion-text>

  <ion-button (click)="move(1)" [disabled]="lastTarget==null">
    <ion-icon name="chevron-up-outline"></ion-icon>
  </ion-button>
  <ion-button (click)="move(-1)" [disabled]="lastTarget==null">
    <ion-icon name="chevron-down-outline"></ion-icon>
  </ion-button>

  <ion-text style="margin:0 15px;">|</ion-text>


  <ion-button (click)="deleteLastNote()" [disabled]="lastTarget==null">
    delete last note
  </ion-button>

  <ion-button (click)="addBar()">
    add Bar
  </ion-button>

</ion-item>
<ion-item>
  <ion-text style="margin-right:15px;">Duration</ion-text>
  <ion-button (click)="addNote(1)">
    全音符
  </ion-button>
  <ion-button (click)="addNote(2)">
    2
  </ion-button>
  <ion-button (click)="addNote(4)">
    4
  </ion-button>
  <ion-button (click)="addNote(8)">
    8
  </ion-button>
  <ion-button (click)="addNote(16)">
    16
  </ion-button>

  <ion-button (click)="addNote(32)">
    32
  </ion-button>

  <ion-button (click)="addNote(64)">
    64
  </ion-button>

  <ion-text style="margin:0 15px;">|</ion-text>

  <ion-button (click)="dot()" [disabled]="lastTarget==null">
    ·
  </ion-button>

  <ion-text style="margin:0 15px;">|</ion-text>

  <ion-button (click)="addRest('r1')">
    1 R
  </ion-button>
  <ion-button (click)="addRest('r2')">
    1/2 R
  </ion-button>
  <ion-button (click)="addRest('r4')">
    1/4 R
  </ion-button>
  <ion-button (click)="addRest('r8')">
    1/8 R
  </ion-button>
  <ion-button (click)="addRest('r16')">
    1/16 R
  </ion-button>
  <ion-button (click)="addRest('r32')">
    1/32 R
  </ion-button>
  <ion-button (click)="addRest('r64')">
    1/64 R
  </ion-button>
</ion-item>

<ion-content [fullscreen]="true">
  <div style="display:flex;flex-wrap: nowrap;overflow-x:auto;padding-left:15px;">

    <div style="display: flex;flex-direction:column;">
      <canvas id="startT" style="border: 1px solid gray;"></canvas>
      <canvas id="startB" style="border: 1px solid gray;"></canvas>
    </div>


    <div style="display: flex;flex-direction:column;" *ngFor="let canvas of canvasBox[0]">
      <canvas id="{{'t'+canvas.id}}" style="border: 1px solid gray;"></canvas>
      <canvas id="{{'b'+canvas.id}}" style="border: 1px solid gray;"></canvas>
    </div>
    
  </div>
    
</ion-content>


<ion-item>
  <ion-button (click)="clear()">
    <ion-icon name="refresh-outline" ></ion-icon>
  </ion-button>

  <ion-button (click)="play()" *ngIf="!isPlay">
    <ion-icon name="play-outline"></ion-icon>
  </ion-button>

  <ion-button (click)="stop()" *ngIf="isPlay">
    <ion-icon name="stop"></ion-icon>
  </ion-button>

  <ion-text style="margin-left: 30px;">{{speed}}</ion-text>
  <ion-range min="20" max="500" step="1" [(ngModel)]="speed" snaps="true" tick="true"
        color="primary"></ion-range>

</ion-item>



<ion-item>
  <div *ngFor="let canvas of this.canvasBox">{{canvas.note}}</div>
</ion-item>
