<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0"></compilation>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"></modules>
  </system.webServer>
</configuration>