<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ i18n.instant('Menu.Home') }}
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ i18n.instant('Menu.Home') }}</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">  
    <ion-refresher-content refreshingSpinner="bubbles"></ion-refresher-content>  
  </ion-refresher>

  <div class="container">
    <div class="container-left">
      <a *ngFor="let card of cards;let i=index;">
        <ion-card class="card-left" *ngIf="i%2==0">
          <cached-image [spinner]="true" [src]="text.getFirstImage(card.Content)"></cached-image>
          <ion-card-header class="card-header">
            <ion-card-title class="card-title" [innerHTML]="text.summaryShort(card.Title, 20, '......')"></ion-card-title>
            <ion-item lines="none" class="card-bar">
              <ion-avatar slot="start" class="avatar">
                <cached-image [round]="true" [spinner]="true" [src]="text.getImageUrl(card.UserPhoto)"></cached-image>
              </ion-avatar>
              <p slot="start" class="ion-text-capitalize">{{card.UserName}}</p>
              <ion-icon slot="end" color="medium" name="heart-outline" *ngIf="!card.Up>0"></ion-icon>
              <ion-icon slot="end" color="danger" name="heart" *ngIf="card.Up>0"></ion-icon>
              <ion-text slot="end" color="medium" class="count-margin" *ngIf="card.Up>0">{{text.shortCount(card.Up)}}</ion-text>
            </ion-item>
          </ion-card-header>
        </ion-card>
      </a>
    </div>
    <div class="container-right">
      <a *ngFor="let card of cards;let i=index;">
        <ion-card class="card-right" *ngIf="i%2==1">
          <cached-image [spinner]="true" [src]="text.getFirstImage(card.Content)"></cached-image>
          <ion-card-header class="card-header">
            <ion-card-title class="card-title" [innerHTML]="text.summaryShort(card.Title, 20, '......')"></ion-card-title>
            <ion-item lines="none" class="card-bar">
              <ion-avatar slot="start" class="avatar">
                <cached-image [round]="true" [spinner]="true" [src]="text.getImageUrl(card.UserPhoto)"></cached-image>
              </ion-avatar>
              <p slot="start" class="ion-text-capitalize">{{card.UserName}}</p>
              <ion-icon slot="end" color="medium" name="heart-outline" *ngIf="!card.Up>0"></ion-icon>
              <ion-icon slot="end" color="danger" name="heart" *ngIf="card.Up>0"></ion-icon>
              <ion-text slot="end" color="medium" class="count-margin" *ngIf="card.Up>0">{{text.shortCount(card.Up)}}</ion-text>
            </ion-item>
          </ion-card-header>
        </ion-card>
      </a>
    </div>
    
  </div>
  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" 
        loadingText="{{ i18n.instant('Button.Loading') }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
