.container {
    display: flex;
    flex-wrap: wrap;
}

.container-left,.container-right {
    width: 50%;
}

.card-title {
    font-size: 16px;
    font-weight: normal;
}

.card-left {
    margin-right: 5px;
}
.card-right {
    margin-left: 5px;
}

.card-bar {
    margin-top:5px;
    --padding-start:0;
    --inner-padding-end:0;
}

.count-margin {
    margin-left: 5px;
}

.avatar {
    width:25px;
    height:25px;
}

.ion-text-capitalize {
    color:#92949c;
}