.user-box{
    position: absolute;
    left:15px;
    top:15px;
    z-index:10;
    background-color: rgba(10,10,10,0.2);
    border-radius: 8px;
    display: flex;
}

.user-box-photo{
    max-width: 40px;
    max-height: 40px;
    margin: 5px;
}

.user-box-text{
    margin-right: 10px;
    align-self: center;
}

.all-controll{
    position: absolute;
    right:15px;
    top:15px;
    z-index:10;
    display: flex;
}

.all-controll-group{
    background-color: rgba(10,10,10,0.2);
    border-radius: 8px;
    padding:2px;
    margin-left: 10px;
    align-self: center;
}

.all-controll-button{
    margin: 0 10px;
    vertical-align:middle;
}

.video-box{
    position:absolute;
    height:100vh;
}

.video-controll{
    position:absolute;
    bottom: 30px;
    right: 15px;
    z-index:10;
    display: flex;
}

.video-controll-button{
    display: flex;
    margin-left: 15px;
}

.vidio-action-button{
    margin: 0 0 0 10px;
    vertical-align:middle;
}