div.commentclear {
    clear:left;
    height: 0;
}

div.clearline {
    clear:left;
    height: 0;
    /*border-color: #BDBEC1;
    border-right: 0 none;
    border-style: none none solid; 
    border-width: 0 0 1px;*/
    padding-bottom: 20px;
    margin-bottom: 10px;
    overflow: hidden;
}

div.articleContent {
    padding-right: 7em;
}

    div.articleContent img {
        max-width: 900px !important;
        height: auto !important;
    }

div.rightBox {
    float: right;
    width: 420px !important;
}
@media screen and (max-width: 900px) {
    div.rightBox {
        display:none;
    }
    div.articleContent {
        padding-right: 0em;
    }
    #mobileComments {
        font-size: 45px !important;
    }
}

div.votecell {
    float:left;
    overflow: hidden;
}

div.entry {
    vertical-align:top;
    float:left;
    overflow: hidden;
}

div.child {
    border-color: #BDBEC1;
    border-style: none none none solid;
    border-width: 0 0 0 1px;
    margin-left: 10px;
}

div.entry a {
    float: left;
    margin-right: 10px;
}

div.author {
    float:left;
    overflow: hidden;
    color: #BDBEC1;
}

ul, li {
    list-style: none;
}

textarea.commentText {
    padding-right: 7em;
    height: 200px;
    float:left;
    overflow:hidden;
}

div.subreddahbox h3, h5 {
    text-align: center;
}
div.subreddahbox {
    margin-left: 10px;
    border: solid 1px #BDBEC1;
}

div.subreddahbox ol {
    counter-reset: li;
    list-style: none;
    font-size: 15px;
    padding:0;
    margin: 0 10px 0 25px;
}

div.subreddahbox li {
    position: relative;
    padding: .4em .8em .4em 2em;
    margin: .5em .5em .5em 0;
    color: #444;
    border-radius: 0;
    border: 1px solid #BDBEC1;
    font-size: 12px;
    transition: all .3s ease;
}

div.subreddahbox li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    margin-top: -1.3em;
    top:50%;
    background: #107c10;
    height: 2em;
    color: #fff;
    width: 2em;
    line-height: 2em;
    border: .3em solid #f6f6f6;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .1s ease;
}

div.loginTable table{
    width: 100%;
}

div.articleContent img {
    max-width: 900px !important;
}