span#StepTitle 
{
    font-weight:normal;
}

h2.StepNumber
{
    font-weight: bold;
}

div.StartModule h2 
{
    Font-family: Segoe UI, arial;
    font-size: 18px;
    color: #636468;
    Padding:10px 10px 10px 0;
    Margin: 0;    
}

div.WizardLiner
{
    border-color: #BDBEC1 ;
    border-right: 0 none;
    border-style: solid none none; 
    border-width: 1px 0 0;
    height: 0;
    overflow:hidden; 
    padding: 0;
    margin-top: 8px;
    margin-bottom: 0px;
}

div.WizardBlock
{
    border-top: 1px solid #BDBEC1;
    border-left: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    margin-top: 8px;
    padding-left: 27px;
}

div.WizardStepContent 
{
    width: 610px;
    min-width: 300px;
}

div.WizardStepList
{
    float: right;
    border: 1px solid #E2E2E2;
    width: 277px;
    margin-right: -19px;
    margin-top: -15px;
    background-color: #ffffff;
    z-index: 1000;
}

div.WizardStepListItem, div.WizardListHeader, div.StepText 
{
    padding-left: 10px;    
}

div.WizardListHeader
{
    height: 40px;
    line-height: 35px;
}

div.WizardListHeader h2
{
    color: #231f20;
}

div#GhostLegendTitle 
{
    display: none;
}

div.WizardStepListItem 
{
    border-top: 1px solid #E2E2E2;
    height: 55px;
}

div.Current
{
    line-height: 54px;
}

div.Current div.StepIcon 
{
    line-height: normal;
}

div.Visited div.StepText
{
    margin-top: 8px;
}

div.StepIcon
{
    background-repeat: no-repeat;
    background-position: center;
    height: 24px;
    width: 25px;
    margin-top: 15px;
    float: left;
    text-align:center;
    padding-left: 0px;
    padding-top: 3px;
    font-weight: bold;
}

div.Current div.StepIcon
{
    background-image: url('/Content/Images/step_number_border_25x25.png');
}

div.Visited div.StepIcon
{
    background-image: url('/Content/Images/running_static25x25.png');
}

div.Visited div.StepName
{
    display: none;
}

div.Current div.StepResponse
{
    display: none;
}

div.StepResponse 
{
    font-size: 12px;    
}


div.Current div.LinkedStepName
{
    display: none;
}

div.StepText
{
    float: left;
}

div.StepName, div.StepResponse, div.LinkedStepName 
{
    width: 220px;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: normal;
    word-break: normal;
    text-overflow: ellipsis;    
}

div.WizardStepContent h2 
{
    margin-bottom: 20px;
    margin-top: -3px;
}

div.ProposalListTitle 
{
    margin-bottom: 10px;    
}

table.ProposalList div.ProposaleList
{
    width: 655px;
    min-width: 655px;
    max-width: 655px;
}

table.ProposalList img.Proposal
{
    margin-right: 5px;
    width: 295px;
    height: 165px;
    opacity:0.75;
    filter:alpha(opacity=75);
    -moz-opacity : 0.75;
    -ms-filter: "alpha(opacity=75)";
    cursor: pointer;
}

table.ProposalList img.Proposal:hover
{
    opacity:1;
    filter:alpha(opacity=100);
    -moz-opacity : 1;
    -ms-filter: "alpha(opacity=100)";
    cursor: pointer;
}

td.ProposalList div.EmptyProposalImage {
    background: #e2e2e2;
    width: 295px;
    height: 165px;
    cursor: pointer;
    margin-left: 2px;
}

div.EmptyProposalImage {
    background: #e2e2e2;
    width: 605px;
    height: 340px;
    cursor: pointer;
    margin-left: 2px;
}

table.ProposalList div.ProposalBottom
{
    background-color: #107C10;
    margin-top: 1px;
    margin-left: 2px;
    margin-right: 5px;
    min-height: 20px;
    max-height: 40px;
    width: 285px;
    color: #ffffff;
    font-weight: normal;
    margin-bottom: 10px;
    padding-left: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

td.ProposalList 
{
    vertical-align: top;
}

div.ProposaleList
{
    width: 617px;
    min-width: 617px;
    max-width: 617px;
}

img.Proposal
{
    margin-left: 2px;
    margin-right: 5px;
    width: 605px;
    opacity:0.75;
    filter:alpha(opacity=75);
    -moz-opacity : 0.75;
    -ms-filter: "alpha(opacity=75)";
    cursor: pointer;
}

img.ForcedHeight 
{
    height: 340px;
}

img.Proposal:hover
{
    opacity:1;
    filter:alpha(opacity=100);
    -moz-opacity : 1;
    -ms-filter: "alpha(opacity=100)";
    cursor: pointer;
}

div.ProposalBottom
{
    background-color: #107C10;
    margin-top: 1px;
    margin-left: 2px;
    min-height: 20px;
    max-height: 40px;
    width: 595px;
    color: #ffffff;
    font-weight: normal;
    margin-bottom: 10px;
    padding-left: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

div.SolveIssueQuestion
{
    height: 52px;
    line-height: 46px;
    margin-top: 30px;
}

div.SolveIssueQuestion   h3
{ 
    float: right;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -6px;
    color: #555555;
}

div.SolveIssueQuestion span
{
    color: #FFFFFF;
    font-family: sego ui,arial;
    font-weight: bold;
    margin-left: 14px;
    margin-right: 14px;
    text-transform: uppercase;
}

div.SolveIssueYesButton
{
    margin-right: 5px;
}

div.SolveIssueButton
{
    background-color: #107C10;
    cursor: pointer;
    float: right;
    height: 22px;
    line-height: 22px;
    margin-top: 9px;
    text-align: center;
}

div.ImageModuleImageContent img.Small
{
    width: 193px;
}

div.ImageModuleImageContent img.Medium
{
    width: 295px;
}

div.ImageModuleImageContent img.Large
{
    width: 605px;
}

img.ImageModule
{
    margin-right: 15px;
}

td.TwoImagesModuleImageContent
{
    width: 295px;
}

td.TwoImagesModuleBetweenContent
{
    width: 13px;
}

table.WizardBlock
{
    max-width: 1200px;
    width:100%;   
    border: none;
    border-width: 0px;
    border-style: none;
    border-spacing: 0px;
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 10px;
}

table.AppStatusModule tr
{
    border: none;
    border-width: 0px;
    border-style: none;
}

tr.WizardBlockTop td.Left
{
    background: url('/Content/Images/Deflection/top_left_corner.png'); 
    background-position: right;
    background-position: bottom;
    background-repeat: no-repeat;
    width:23px;
    height: 20px;
    border: none;
    border-width: 0px;
    border-style: none;
    border-spacing: 0px;
}

tr.WizardBlockTop td.Center
{
    background: url('/Content/Images/Deflection/top_border.png');
    background-repeat: repeat-x;
    background-position: bottom;
    width: 900px;
    border: none;
    border-width: 0px;
    border-style: none;
    border-spacing: 0px;
}

tr.WizardBlockTop td.Right
{
    background: url('/Content/Images/Deflection/top_right_corner.png'); 
    background-position: left;
    background-position: bottom;
    background-repeat: no-repeat;
    width:23px;
    height: 20px;
    border: none;
    border-width: 0px;
    border-style: none;
    border-spacing: 0px;
}

tr.WizardBlockMiddle td.Left 
{
    background: url('/Content/Images/Deflection/left_border.png') repeat-y; 
    background-position: right;
    width:23px;
    border-width: 0px;
    border-style: none;
}

tr.WizardBlockMiddle td.Center 
{
    padding-top: 0px;
}

tr.WizardBlockMiddle td.Right
{
    background: url('/Content/Images/Deflection/right_border.png') repeat-y; 
    background-position: left;
    width:23px;
    border-width: 0px;
    border-style: none;
}

tr.WizardBlockBottom td.Left
{
    background: url('/Content/Images/Deflection/bottom_left_corner.png'); 
    background-position: right;
    background-position: top;
    background-repeat: no-repeat;
    width:23px;
    height: 18px;
    border: none;
    border-width: 0px;
    border-style: none;
    border-spacing: 0px;
}

tr.WizardBlockBottom td.Center
{
    background: url('/Content/Images/Deflection/bottom_border.png');
    background-repeat: repeat-x;
    background-position: top;
    width: 900px;
    border: none;
    border-width: 0px;
    border-style: none;
    border-spacing: 0px;
}

tr.WizardBlockBottom td.Right
{
    background: url('/Content/Images/Deflection/bottom_right_corner.png'); 
    background-position: left;
    background-position: top;
    background-repeat: no-repeat;
    width:23px;
    height: 18px;
    border: none;
    border-width: 0px;
    border-style: none;
    border-spacing: 0px;
}

td.ImageModuleBlank
{
    display: none;
}

td.VideoModuleBlank
{
    display: none;
}

div.TextModule 
{
    margin-left: 0px;
}

div.LongArticleTitle 
{
    margin-left: 0px;
}

img.TwoImagesModuleImageContent
{
    width: 295px;
}

div#FeedBackComponent 
{
    background: #E2E2E2;
    height: 20px;
}

div.FeedBackModule {
    background-color: #E2E2E2;
    margin-bottom: 0px;
}

/*                     */
/* Connectivity Wizard */
/*                     */

.DropDownTitle 
{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: #393738;
    margin-bottom: -4px;
    margin-top: 10px;
    font-family: "Segoe UI";
}

.EmptyDropDownAlert 
{
    display: block;
    margin-top: 10px;
    color: #ED1C24;
}

div#IspdropDown_IsEmpty,
div#ModemManufacturerdropDown_IsEmpty,
div#ModemModeldropDown_IsEmpty,
div#RouterManufacturerdropDown_IsEmpty,
div#RouterModeldropDown_IsEmpty 
{
    display: none;
}

div#IspDropDownContainer,
div#ModemManufacturerDropDownContainer,
div#ModemModelDropDownContainer,
div#RouterManufacturerDropDownContainer,
div#RouterModelDropDownContainer 
{
    width: 300px; 
}

.DropDownListContainer
{
    margin-bottom: 0px
}

.NextButton 
{
    border-top: 1px solid #e2e3e2;
}

a.NextButton,
a.NextButton:link,
a.NextButton:visited,
a.NextButton:hover 
{
	display: inline-block;
	padding: 0.5em 1.5em;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	background: #107C10;
	margin-top: 20px;
    float: right;
}

a.NextButton:hover {
	background: #2ca243;
}

#DescriptionText {
 margin-bottom: 15px;
}

#NoRouter {
    font-size: 12px;
    color: #848589;
    font-style: italic;
    margin-left: 3px;
}

td.ConnectivityWizardTable {
    vertical-align: top;
}

/*                            */
/* End Of Connectivity Wizard */
/*                            */

