<ion-content fullscreen>
  <ion-slides [pager]="true">
    <div class="parallax-bg" style="background-image:url(assets/icon/long.png);background-size: auto 100%;background-repeat: no-repeat;"></div>
    <ion-slide *ngFor="let slide of slides">
      <div class="slide">
        <ol class="level-ol-box" style="display:flex;justify-content: center; flex-wrap: wrap;">
          <li class="level-list__item" [class.unlock]="task.unlock" data-id="{{task.id}}" (click)="goTask(task)" *ngFor="let task of slide;index as i">
            <span class="level-list__item__number" *ngIf="task.unlock">{{task.id}}</span> 
            <span class="level-list__item__number" *ngIf="!task.unlock">
              <img src="/assets/icon/lock.png" style="vertical-align: middle;">
            </span>
            <span class="level-list__item__blurb" *ngIf="!task.unlock">
              <b>{{task.id}}</b>
            </span>
            <span class="level-list__item__blurb" *ngIf="task.unlock">
              <b style="color: rgb(255, 238, 0);" *ngFor="let i of [].constructor(task.mystar)">★</b>
              <b style="color: gray;" *ngFor="let i of [].constructor(3-task.mystar)">☆</b>
            </span>
          </li>
        </ol>
      </div>
    </ion-slide>
  </ion-slides>
  
  <div class="levels-home">
    <ion-icon class="surface-button" name="arrow-undo-outline" color="light" (click)="goLevels()"></ion-icon>
  </div>
</ion-content>